In [88]:
import numpy as np
import pandas as pd
import sklearn
import nltk
import re
import json
import torch
import pickle
import tensorflow as tf

import keras
from keras.preprocessing import image
from sklearn.model_selection import train_test_split

from tqdm import tqdm

In [2]:
movies = pd.read_csv('archive/movies_metadata.csv')

/Users/anshverma/opt/anaconda3/envs/python37/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
movies.dropna(subset = ['poster_path', 'genres'], inplace=True)

In [4]:
movies.dropna(subset = ["overview"], inplace=True)

movies.fillna(0, inplace=True)

movies = movies[0: 986]

In [5]:
movies['poster_path'].isnull().sum()

0

In [6]:
#come back and get rid of functions not using
filename = "ImageData"
filenameTwo = "Genres"
fileNameThree =  "xTrain"
fileNameFour =  "xTest"
fileNameFive =  "yTrain"
fileNameSix =  "yTest"
fileNameSeven = "filePathIndex"

def loadTrain(): 
    filehandler = open(fileNameThree, 'rb') 
    xTrain = np.load(filehandler, allow_pickle=True) #pickle.load(filehandler)
    filehandlerTwo = open(fileNameFive, 'rb')
    yTrain = np.load(filehandlerTwo, allow_pickle=True)
    return xTrain, yTrain

def loadTest(): 
    filehandler = open(fileNameFour, 'rb') 
    xTest = np.load(filehandler, allow_pickle=True) #pickle.load(filehandler)
    filehandlerTwo = open(fileNameSix, 'rb') 
    yTest = np.load(filehandlerTwo, allow_pickle=True) #pickle.load(filehandler)
    return xTest, yTest

def saveImages(imageList, genres, pathOne, pathTwo): 
    filehandler = open(pathOne, 'wb')
    np.save(filehandler, imageList)
    filehandlerTwo = open(pathTwo, 'wb')
    np.save(filehandlerTwo, genres)
    #pickle.dump(imageList, filehandler)
    
def saveDataFrame(dataFrame, name):
    dataFrame.to_json(name)

def loadData(path): 
    filehandler = open(path, 'rb') 
    files = np.load(filehandler, allow_pickle=True) #pickle.load(filehandler)
    return files

def saveData(data, path): 
    filehandler = open(path, 'wb')
    np.save(filehandler, data)
        
def loadImages(): 
    filehandler = open(filename, 'rb') 
    files = np.load(filehandler, allow_pickle=True) #pickle.load(filehandler)
    return files

def loadGenres(): 
    filehandlerTwo = open(filenameTwo, 'rb')
    genres = np.load(filehandlerTwo, allow_pickle=True)
    return genres

def load(filePath): 
    loader = csv

def tempSave(genres): 
    genres.to_csv(path_or_buf = filenameTwo)
    
def saveTesting(csv, path): 
    csv.to_csv(path_or_buf = path)
    
def fromCsv(path): 
    return pd.read_csv(path)

def dataTypes(data): 
    print(type(data))
    print(type(data[0]))
    print(type(data[0][0]))
    print(type(data[0][0][0]))
    print(type(data[0][0][0][0]))
    try:
        print(type(data[0][0][0][0][0]))
    except: 
        pass
    
def dimensions(data): 
    print(type(data))
    print(data[0].size())
    print(data[0][0].size())
    print(data[0][0][0].size())
    print(data[0][0][0][0].size())
    try:
        print(data[0][0][0][0][0].size())
    except: 
        pass

In [7]:
""" 
- code to download images; uncomment if need to download images


# @Source: https://johannesbader.ch/blog/tutorial-download-posters-with-the-movie-database-api-in-python/"
import os
import re
import requests

CONFIG_PATTERN = 'http://api.themoviedb.org/3/configuration?api_key={key}'
IMG_PATTERN = 'http://api.themoviedb.org/3/movie/{imdbid}/images?api_key={key}' 
KEY = '6f2ceb0e0b459afe90f6e854fcd410eb'
            
def _get_json(url):
    r = requests.get(url)
    return r.json()
    
def _download_images(titles, urls, path):
 #   download all images in list 'urls' to 'path' 
    filePathList = []
    print(len(urls), len(titles))
    zipped = list(zip(titles, urls))
    i = 0
    for title, url in zipped: 
        r = requests.get(url)
        filetype = r.headers['content-type'].split('/')[-1]
        filename = re.sub(r'\W+', ' ', title).lower().strip().replace(" ", "-") + '.jpg'
        print(i)
        filepath = os.path.join(path, filename)
        filePathList.append(filepath)
        #commented this out so that won't redownload data every single time
        #if r.status_code == 200:
        #    with open(filepath,'wb') as w:
        #        w.write(r.content)
        i+=1
    
    return path, filePathList 

def get_poster_url(imdbid):
 
  #  given IMDB id, returns the corresponding url for
  #  poster jpg
    
  #  Args: 
  #      imdbid (str): IMDB id
  #  Return: 
  #      url (str): image url of poster image from 'themoviedb.org'
  #              of the maximum available size. 
                
    config = _get_json(CONFIG_PATTERN.format(key=KEY))
    base_url = config['images']['base_url']
    sizes = config['images']['poster_sizes']   # sorted in ascending order
    
    def size_str_to_int(x):
        return float("inf") if x == 'original' else int(x[1:])
    
    # retrieve image of max size
    max_size = max(sizes, key=size_str_to_int)
    
    try: 
        posters = _get_json(IMG_PATTERN.format(key=KEY,imdbid=imdbid))['posters']
    except: 
        print(imdbid)
    
    if len(posters) == 0:
        return None
    
    rel_path = posters[0]['file_path']
    url = "{0}{1}{2}".format(base_url, max_size, rel_path)
    
    return url
"""

' \n- code to download images; uncomment if need to download images\n\n\n# @Source: https://johannesbader.ch/blog/tutorial-download-posters-with-the-movie-database-api-in-python/"\nimport os\nimport re\nimport requests\n\nCONFIG_PATTERN = \'http://api.themoviedb.org/3/configuration?api_key={key}\'\nIMG_PATTERN = \'http://api.themoviedb.org/3/movie/{imdbid}/images?api_key={key}\' \nKEY = \'6f2ceb0e0b459afe90f6e854fcd410eb\'\n            \ndef _get_json(url):\n    r = requests.get(url)\n    return r.json()\n    \ndef _download_images(titles, urls, path):\n #   download all images in list \'urls\' to \'path\' \n    filePathList = []\n    print(len(urls), len(titles))\n    zipped = list(zip(titles, urls))\n    i = 0\n    for title, url in zipped: \n        r = requests.get(url)\n        filetype = r.headers[\'content-type\'].split(\'/\')[-1]\n        filename = re.sub(r\'\\W+\', \' \', title).lower().strip().replace(" ", "-") + \'.jpg\'\n        print(i)\n        filepath = os.path.join(path, filename)\n        filePathList.append(filepath)\n        #commented this out so that won\'t redownload data every single time\n        #if r.status_code == 200:\n        #    with open(filepath,\'wb\') as w:\n        #        w.write(r.content)\n        i+=1\n    \n    return path, filePathList \n\ndef get_poster_url(imdbid):\n \n  #  given IMDB id, returns the corresponding url for\n  #  poster jpg\n    \n  #  Args: \n  #      imdbid (str): IMDB id\n  #  Return: \n  #      url (str): image url of poster image from \'themoviedb.org\'\n  #              of the maximum available size. \n                \n    config = _get_json(CONFIG_PATTERN.format(key=KEY))\n    base_url = config[\'images\'][\'base_url\']\n    sizes = config[\'images\'][\'poster_sizes\']   # sorted in ascending order\n    \n    def size_str_to_int(x):\n        return float("inf") if x == \'original\' else int(x[1:])\n    \n    # retrieve image of max size\n    max_size = max(sizes, key=size_str_to_int)\n    \n    try: \n        posters = _get_json(IMG_PATTERN.format(key=KEY,imdbid=imdbid))[\'posters\']\n    except: \n        print(imdbid)\n    \n    if len(posters) == 0:\n        return None\n    \n    rel_path = posters[0][\'file_path\']\n    url = "{0}{1}{2}".format(base_url, max_size, rel_path)\n    \n    return url\n'

In [8]:
"""
- code to download images; uncomment if need to download images


# RUN THIS FUNCTION TO DOWNLOAD JPG IMAGES
def tmdb_posters():
 #    download posters with imdb_id from dataset 
    
    if not os.path.exists('images_movies_genre'):
        os.makedirs('images_movies_genre')
    filePathList = []
    titles = []
    urls = []
    checkIter = []
    n = 0
    for index, row in movies.iterrows():
        title = str(row['title'])
        url = get_poster_url(row['imdb_id'])
        
        # skip iteration if poster cannot be located
        if not url:
            checkIter.append(0)
            continue
            
        checkIter.append(1)
        titles.append(title)
        urls.append(url)
        n += 1
        #print(n)
        if n == 1000:
            break
            
        # SET LIMIT FOR NUMBER OF IMAGES TO DOWNLOAD

    path, filePathList = _download_images(titles, urls, 'images_movies_genre')
    retList = []
    counter = 0
    for i in checkIter: 
        if i == 0: 
            retList.append('NaN')
        elif i == 1: 
            retList.append(filePathList[counter])
            counter+=1
    return path, retList

path, filePathList = tmdb_posters()
"""

"\n- code to download images; uncomment if need to download images\n\n\n# RUN THIS FUNCTION TO DOWNLOAD JPG IMAGES\ndef tmdb_posters():\n #    download posters with imdb_id from dataset \n    \n    if not os.path.exists('images_movies_genre'):\n        os.makedirs('images_movies_genre')\n    filePathList = []\n    titles = []\n    urls = []\n    checkIter = []\n    n = 0\n    for index, row in movies.iterrows():\n        title = str(row['title'])\n        url = get_poster_url(row['imdb_id'])\n        \n        # skip iteration if poster cannot be located\n        if not url:\n            checkIter.append(0)\n            continue\n            \n        checkIter.append(1)\n        titles.append(title)\n        urls.append(url)\n        n += 1\n        #print(n)\n        if n == 1000:\n            break\n            \n        # SET LIMIT FOR NUMBER OF IMAGES TO DOWNLOAD\n\n    path, filePathList = _download_images(titles, urls, 'images_movies_genre')\n    retList = []\n    counter = 0\n    for i in checkIter: \n        if i == 0: \n            retList.append('NaN')\n        elif i == 1: \n            retList.append(filePathList[counter])\n            counter+=1\n    return path, retList\n\npath, filePathList = tmdb_posters()\n"

In [9]:
"""
- uncomment if need to save paths for downloaded images after downloading the images
saveData(filePathList, fileNameSeven)
"""

'\n- uncomment if need to save paths for downloaded images after downloading the images\nsaveData(filePathList, fileNameSeven)\n'

In [10]:
filePathList = loadData(fileNameSeven)

In [11]:
# Converting images to array
X = []

for path in tqdm(filePathList):
    try: 
        img = image.load_img(path, target_size=(3, 7, 7))   #(224, 224, 3))
        img = image.img_to_array(img)
        img = img/255.0
        X.append(img)
    except: 
        X.append('NaN')
        continue
    
X = np.array(X)

100%|██████████| 986/986 [00:29<00:00, 33.97it/s]
/Users/anshverma/opt/anaconda3/envs/python37/lib/python3.7/site-packages/ipykernel_launcher.py:14: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray

In [12]:
X = X[0:986]

In [13]:
X[0][0].shape

(7, 3)

In [14]:
movies.insert(len(movies.columns), "imageArrays", X, True)

In [15]:
dataType = type(X[0][0][0][0])

In [16]:
def generalImageArrayIter(imageArrays, function): 
    data = imageArrays['imageArrays']
    for i in range(len(data)):
        array = data.iloc[i]
        for j in range(len(array)): 
            for k in range(len(array[j])): 
                lenLists = len(array[j][k])
                for l in range(lenLists): 
                    array[j][k][l] = function(array[j][k][l]) 
                    #reassignment is not working
                    print(function(array[j][k][l]), type(function(array[j][k][l])))
                    print(array[j][k][l], type(array[j][k][l]))

In [17]:
#checks the type of the elements in the imageArray
#generalImageArrayIter(movies, (lambda value: float(value)))

In [18]:
errorVectors = []
data = movies['imageArrays']
for i in range(len(data)):
    array = data.iloc[i]
    for j in range(len(array)): 
        for k in range(len(array[j])): 
            lenLists = len(array[j][k])
            for l in range(lenLists): 
                if type(array[j][k][l]) != dataType:
                    print(array[j][k][l])
                    errorVectors.append(array[j][k])
                    data.iloc[i] = None
                    break
            if (data.iloc[i] == []): 
                break
        if (data.iloc[i] == []): 
            break
    if (data.iloc[i] == []): 
        continue
errorVectors

/Users/anshverma/opt/anaconda3/envs/python37/lib/python3.7/site-packages/ipykernel_launcher.py:14: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.

/Users/anshverma/opt/anaconda3/envs/python37/lib/python3.7/site-packages/ipykernel_launcher.py:16: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  app.launch_new_instance()
/Users/anshverma/opt/anaconda3/envs/python37/lib/python3.7/site-packages/ipykernel_launcher.py:18: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
/Users/anshverma/opt/anaconda3/envs/python37/lib/python3.7/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

N
a
N
N
a
N
N
a
N
N
a
N
N
a
N
N
a
N
N
a
N
N
a
N
N
a
N
N
a
N
N
a
N
N
a
N
N
a
N
N
a
N
N
a
N
N
a
N
N
a
N
N
a
N
N
a
N
N
a
N
N
a
N
N
a
N
N
a
N
N
a
N
N
a
N
N
a
N
N
a
N
N
a
N
N
a
N
N
a
N
N
a
N

['N',
 'a',
 'N',
 'N',
 'a',
 'N',
 'N',
 'a',
 'N',
 'N',
 'a',
 'N',
 'N',
 'a',
 'N',
 'N',
 'a',
 'N',
 'N',
 'a',
 'N',
 'N',
 'a',
 'N',
 'N',
 'a',
 'N',
 'N',
 'a',
 'N',
 'N',
 'a',
 'N',
 'N',
 'a',
 'N',
 'N',
 'a',
 'N',
 'N',
 'a',
 'N',
 'N',
 'a',
 'N',
 'N',
 'a',
 'N',
 'N',
 'a',
 'N',
 'N',
 'a',
 'N',
 'N',
 'a',
 'N',
 'N',
 'a',
 'N',
 'N',
 'a',
 'N',
 'N',
 'a',
 'N',
 'N',
 'a',
 'N',
 'N',
 'a',
 'N',
 'N',
 'a',
 'N',
 'N',
 'a',
 'N',
 'N',
 'a',
 'N',
 'N',
 'a',
 'N',
 'N',
 'a',
 'N',
 'N',
 'a',
 'N',
 'N',
 'a',
 'N']

In [19]:
def testStrings(dataFrame): 
    """
    tests to see if there are any strings in any image array
    """
    errorVectors = []
    data = dataFrame['imageArrays']
    for i in range(len(data)):
        array = data.iloc[i]
        for j in range(len(array)): 
            for k in range(len(array[j])): 
                lenLists = len(array[j][k])
                for l in range(lenLists): 
                    if type(array[j][k][l]) != dataType:
                        errorVectors.append(array[j][k])
                        break
                if (data.iloc[i] == []): 
                    break
            if (data.iloc[i] == []): 
                break
        if (data.iloc[i] == []): 
            continue
    return errorVectors

In [20]:
movies.dropna(subset = ['imageArrays'], inplace=True)
#drops from 986 to 955
print(len(movies))

955

In [21]:
def convertToNumpy(movies):
    for i in range(len(movies['imageArrays'])):
        for j in range(len(movies['imageArrays'].iloc[i])): 
            for k in range(len(movies['imageArrays'].iloc[i][j])): 
                movies['imageArrays'].iloc[i][j][k] = np.array(movies['imageArrays'].iloc[i][j][k])
            movies['imageArrays'].iloc[i][j] = np.array(movies['imageArrays'].iloc[i][j])
        movies['imageArrays'].iloc[i] = np.array(movies['imageArrays'].iloc[i])

def convertToTensor(movies):
    for i in range(len(movies['imageArrays'])):
        for j in range(len(movies['imageArrays'].iloc[i])): 
            for k in range(len(movies['imageArrays'].iloc[i][j])): 
                movies['imageArrays'].iloc[i][j][k] = torch.Tensor(movies['imageArrays'].iloc[i][j][k], dtype='torch.float32')
            movies['imageArrays'].iloc[i][j] = torch.Tensor(movies['imageArrays'].iloc[i][j])
        movies['imageArrays'].iloc[i] = torch.Tensor(movies['imageArrays'].iloc[i])
        
def convertToFloat(movies):
    for i in range(len(movies['imageArrays'])):
        for j in range(len(movies['imageArrays'].iloc[i])): 
            for k in range(len(movies['imageArrays'].iloc[i][j])): 
                for l in range(len(movies['imageArrays'].iloc[i][j][k])):
                    movies['imageArrays'].iloc[i][j][k][l] = float(movies['imageArrays'].iloc[i][j][k][l])
           
       
def convertToList(movies):
    for i in range(len(movies['imageArrays'])):
        for j in range(len(movies['imageArrays'].iloc[i])): 
            for k in range(len(movies['imageArrays'].iloc[i][j])): 
                movies['imageArrays'].iloc[i][j][k].tolist()
                #print(movies['imageArrays'].iloc[i][j][k])
                #movies['imageArrays'].iloc[i][j][k] = float(movies['imageArrays'].iloc[i][j][k]) #, dtype='torch.float32')
            movies['imageArrays'].iloc[i][j].tolist() #movies['imageArrays'].iloc[i][j] = 
        movies['imageArrays'].tolist() #movies['imageArrays'].iloc[i] =

In [22]:
#convertToTensor(movies)

In [23]:
type(movies['imageArrays'])

pandas.core.series.Series

In [24]:
type([1, 2, 3])

list

In [25]:
#movies['imageArrays'].astype('float_')

In [26]:
#convertToList(movies)

In [27]:
print(type(movies['imageArrays'].iloc[0][0])) #fixed it :)
print(type(movies['imageArrays'].iloc[0][0][0]))
print(type(movies['imageArrays'].iloc[0][0][0][0]))
#print(type(movies['imageArrays'].iloc[0][0][0][0][0].item()))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
<class 'numpy.float32'>

In [28]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,imageArrays
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,0,Toy Story,False,7.7,5415.0,"[[[0.8862745, 0.0, 0.14509805], [1.0, 0.850980..."
1,False,0,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",0,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[[[0.3764706, 0.5176471, 0.7137255], [0.788235..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",0,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[[[0.99215686, 0.827451, 0.67058825], [0.59215..."
3,False,0,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",0,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[[[1.0, 1.0, 1.0], [1.0, 1.0, 1.0], [1.0, 1.0,..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",0,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[[[0.0, 0.0, 0.0], [0.99607843, 0.99607843, 0...."

In [29]:
#import sys
#import resource

In [30]:
#sys.setrecursionlimit(3000)

In [31]:
#print(sys.getrecursionlimit())

In [32]:
#resource.setrlimit(resource.RLIMIT_STACK, (2*29, -1))

In [33]:
#movies.to_json('moviesJson', default_handler=str)
#movies.to_json('moviesJson')

In [34]:
moviesJson = pd.read_json('moviesJson')

In [35]:
moviesJson.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,imageArrays
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033,81,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,0,Toy Story,False,7.7,5415,"[[[0.0039215689, 0.5098039508000001, 0.7647058..."
1,False,0,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",0,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249,104,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413,"[[[0.400000006, 0.5254902244, 0.7098039389], [..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",0,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0,101,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92,"[[[0.9960784316000001, 0.8235294223, 0.6705882..."
3,False,0,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",0,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156,127,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34,"[[[1.0, 1.0, 1.0], [1.0, 1.0, 1.0], [1.0, 1.0,..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",0,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911,106,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173,"[[[1.0, 1.0, 1.0], [1.0, 1.0, 1.0], [1.0, 1.0,..."

In [36]:
type(moviesJson['imageArrays'][0])

list

In [37]:
movies["reviews"] = [[] for _ in range(len(movies))]
movies.head()
movies.dropna(subset = ['vote_average'], inplace=True)
labels = []
for n in movies['vote_average']:
    num=round(n)
    labels+=[num]
movies.insert(4, "label", labels, True)

In [38]:
movies.head()

,adult,belongs_to_collection,budget,genres,label,homepage,id,imdb_id,original_language,original_title,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,imageArrays,reviews
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",8,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,0,Toy Story,False,7.7,5415.0,"[[[0.8862745, 0.0, 0.14509805], [1.0, 0.850980...",[]
1,False,0,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",7,0,8844,tt0113497,en,Jumanji,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[[[0.3764706, 0.5176471, 0.7137255], [0.788235...",[]
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",6,0,15602,tt0113228,en,Grumpier Old Men,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[[[0.99215686, 0.827451, 0.67058825], [0.59215...",[]
3,False,0,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",6,0,31357,tt0114885,en,Waiting to Exhale,...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[[[1.0, 1.0, 1.0], [1.0, 1.0, 1.0], [1.0, 1.0,...",[]
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",6,0,11862,tt0113041,en,Father of the Bride Part II,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[[[0.0, 0.0, 0.0], [0.99607843, 0.99607843, 0....",[]

In [39]:

#- run when need to scrape reviews of movies
import json
import os
import re
import requests

REVIEW_PATTERN = 'https://api.themoviedb.org/3/movie/{movie_id}/reviews?api_key={key}'
KEY = '6f2ceb0e0b459afe90f6e854fcd410eb'
            
def _get_json(url):
    r = requests.get(url)
    return r.json()

def get_tmdb_reviews():
   # request reviews with 'id' from TMDB and append them to the reviews column
    k=0
    for index, row in movies.iterrows():
        print(k)
        id = row['id']
        r = _get_json(REVIEW_PATTERN.format(key=KEY,movie_id=id))
        
        if not r:
            print("request cannot be located")
            continue
        
        n = r.get('total_results')
        
        reviews = []
        for i in range(n):
            k += 1
            result = r['results'][i]
            review = result.get('content')
            reviews.append(review)
            #rating = result.get('author_details').get('rating')
            
        movies.at[index, 'reviews'] = reviews
        if not reviews:
            movies.at[index, 'reviews'] = float("NaN")
        
        # SET LIMIT
        if index > 986:
            print(k)
            break

    return None

get_tmdb_reviews()

0
3
4
4
4
4
6
6
7
7
8
8
9
9
9
12
13
13
13
13
13
13
13
15
16
16
16
16
17
17
17
19
20
20
20
21
21
21
21
21
22
22
23
23
23
26
27
27
29
29
29
29
30
30
30
31
31
31
31
31
32
32
32
32
32
32
32
32
34
35
35
35
35
36
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
38
38
38
40
40
40
40
41
42
42
42
42
42
44
46
46
46
46
46
46
46
46
46
46
46
46
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
48
49
49
49
49
50
52
54
56
58
58
58
58
59
61
61
63
63
64
65
67
67
67
68
68
69
69
70
71
71
71
71
71
71
71
72
72
72
72
73
74
74
74
74
74
74
74
74
74
74
74
76
76
76
76
76
76
76
76
77
77
77
77
79
79
79
79
79
79
79
80
80
81
81
81
81
82
84
86
86
86
88
88
88
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
92
92
92
92
93
93
93
93
93
93
93
93
94
94
98
99
99
100
100
100
101
101
101
101
101
101
101
103
104
104
106
106
106
106
106
107
107
107
107
107
107
107
107
107
107
107
108
108
108
108
110
110
110
111
111
111
111
112
112
112
112
112
112
112
112
112
112
115
116
117
123
123
124
124
124
124
124
124
124
125
126
126
126
126
126
126
127
127
127
128
129
129
129
129
129
129
129
129
129
129
130
130
130
130
132
132
133
133
134
134
134
134
134
135
135
136
136
136
137
138
138
138
138
138
140
140
140
140
141
141
142
145
145
145
145
145
145
145
145
145
145
145
145
145
145
145
145
145
146
146
146
146
146
146
147
147
147
148
148
148
149
149
149
150
150
150
150
151
151
151
151
151
151
151
151
151
151
151
151
152
152
153
155
156
156
156
156
156
159
160
160
160
160
160
160
160
160
160
160
160
160
161
161
161
162
162
162
162
162
162
162
162
162
162
162
163
163
163
163
163
163
163
164
164
164
164
164
168
168
168
168
168
169
169
170
170
170
170
171
171
171
171
171
171
171
171
172
172
173
174
174
174
174
174
174
176
177
177
177
177
177
177
177
177
177
177
178
178
178
178
178
178
178
178
178
178
178
178
178
178
179
179
180
180
181
181
181
181
186
187
188
189
189
189
189
189
189
189
190
191
193
193
197
197
197
197
197
197
197
197
197
197
197
197
197
197
197
197
197
197
197
197
197
197
197
198
199
200
201
204
206
206
210
214
214
214
214
216
216
217
218
218
218
218
218
218
218
219
220
220
220
220
220
220
220
220
220
220
220
220
220
220
220
220
220
220
220
220
220
220
220
220
220
220
220
220
220
220
220
220
220
220
223
223
223
223
223
223
223
223
223
223
223
224
224
224
224
224
224
224
224
224
224
226
227
227
227
228
230
230
231
231
231
231
231
232
232
232
232
232
233
233
233
233
233
233
233
233
233
233
233
234
235
235
235
235
235
235
235
235
236
236
236
237
237
237
237
237
237
237
237
237
240
240
240
240
240
240
240
240
240
240
240
241
241
242
244
244
244
244
244
244
244
244
244
245
245
245
245
246
246
246
246
246
246
246
246
246
246
246
246
248
248
249
250
251
252
253
253
253
253
253
253
253
253
253
253
253
255
255
255
255
255
255
255
255
255
256
257
257
257
257
257
258
258
258
258
258
258
258
258
258
258
258
258
258
258
258
259
260
261
261
261
261
262
262
262
262
262
262
263
263
263
265
265
265
265
266
266
266
266
266
266
267
267
267
267
267
267
267
267
267
267
269
270
271
271
271
271
272
272
273
273
275
275
275
275
275
275
275
276
279
279
279
280
284
287
288
289
289
293
295
296
297
299
302
303
303
304
304
305
307
308
308
309
313
318
318
320
321
325
326
327
328
328
330
330
330
330
330
331
331
332
333
334
334
335
335
335
338
338
338
339
339
340
343
344
345
346
346
346
346
347
347
347
348
350
350
350
350
350
351
352
352
352
353
353
353
354
354
354
354
354
354
354
354
354
354
354
354
354
354
354
354
354
355
355
355
356
356
356
356
356
356
357
358
360
360
361
362
363
363
365
367
368
368

In [51]:
movies.head()

,adult,belongs_to_collection,budget,genres,label,homepage,id,imdb_id,original_language,original_title,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,imageArrays,reviews,sentences
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",8,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,0,Toy Story,False,7.7,5415.0,"[[[0.8862745, 0.0, 0.14509805], [1.0, 0.850980...","[this, movie, came, three, now, im, twenty, se...",this movie came three now im twenty seven godd...
1,False,0,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",7,0,8844,tt0113497,en,Jumanji,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[[[0.3764706, 0.5176471, 0.7137255], [0.788235...","[throw, dice, take, turn, jumanji, made, criti...",throw dice take turn jumanji made critics gurn...
5,False,0,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",8,0,949,tt0113277,en,Heat,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,"[[[0.26666668, 0.3137255, 0.3764706], [0.10588...","[you, dont, live, live, among, remains, dead, ...",you dont live live among remains dead people h...
7,False,0,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",5,0,45325,tt0112302,en,Tom and Huck,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0,"[[[1.0, 1.0, 1.0], [1.0, 1.0, 1.0], [1.0, 1.0,...","[good, enough, it, doesnt, come, close, disney...",good enough it doesnt come close disneys film ...
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",7,http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0,"[[[0.72156864, 0.8, 0.7647059], [0.7490196, 0....","[really, solid, entry, series, brosnan, person...",really solid entry series brosnan personally f...

In [52]:
moviesCopy = movies.copy(deep=True)

In [53]:
movies=movies.dropna(subset = ['reviews'], inplace=False)

In [54]:
len(movies)

264

In [55]:
movies.head()

,adult,belongs_to_collection,budget,genres,label,homepage,id,imdb_id,original_language,original_title,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,imageArrays,reviews,sentences
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",8,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,0,Toy Story,False,7.7,5415.0,"[[[0.8862745, 0.0, 0.14509805], [1.0, 0.850980...","[this, movie, came, three, now, im, twenty, se...",this movie came three now im twenty seven godd...
1,False,0,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",7,0,8844,tt0113497,en,Jumanji,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[[[0.3764706, 0.5176471, 0.7137255], [0.788235...","[throw, dice, take, turn, jumanji, made, criti...",throw dice take turn jumanji made critics gurn...
5,False,0,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",8,0,949,tt0113277,en,Heat,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,"[[[0.26666668, 0.3137255, 0.3764706], [0.10588...","[you, dont, live, live, among, remains, dead, ...",you dont live live among remains dead people h...
7,False,0,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",5,0,45325,tt0112302,en,Tom and Huck,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0,"[[[1.0, 1.0, 1.0], [1.0, 1.0, 1.0], [1.0, 1.0,...","[good, enough, it, doesnt, come, close, disney...",good enough it doesnt come close disneys film ...
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",7,http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0,"[[[0.72156864, 0.8, 0.7647059], [0.7490196, 0....","[really, solid, entry, series, brosnan, person...",really solid entry series brosnan personally f...

In [56]:
import nltk
nltk.download('wordnet')
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer 
from nltk.tokenize import word_tokenize

import string

def tokenize(list):
    t = []
    
    for s in list:
        tokens = s.split()

        table = str.maketrans('', '', string.punctuation)
        tokens = [w.translate(table) for w in tokens]
        
        tokens = [word for word in tokens if word.isalpha()]
        
        stop_words = set(stopwords.words('english'))
        tokens = [w for w in tokens if not w in stop_words]
        
        tokens = [word for word in tokens if len(word) > 1]
        
        t.append(tokens)
    
    t = [word.lower() for sl in t for word in sl]
        
    lemmatizer = WordNetLemmatizer()
    for w in t:
        w = lemmatizer.lemmatize(w)
    
    # returns a flat list of strings
    return t

def clean_data():
    movies.dropna(subset = ["reviews"], inplace=True)
    for index, row in movies.iterrows():
        review = row['reviews']
        movies.at[index, 'reviews'] = tokenize(review)
        
        # SET LIMIT
        #if index > 20:
            #print(k)
            #break
            
    return None

clean_data()
movies.head(20)

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/anshverma/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/anshverma/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,adult,belongs_to_collection,budget,genres,label,homepage,id,imdb_id,original_language,original_title,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,imageArrays,reviews,sentences
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",8,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,0,Toy Story,False,7.7,5415.0,"[[[0.8862745, 0.0, 0.14509805], [1.0, 0.850980...","[movie, came, three, im, twenty, seven, goddam...",this movie came three now im twenty seven godd...
1,False,0,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",7,0,8844,tt0113497,en,Jumanji,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[[[0.3764706, 0.5176471, 0.7137255], [0.788235...","[throw, dice, take, turn, jumanji, made, criti...",throw dice take turn jumanji made critics gurn...
5,False,0,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",8,0,949,tt0113277,en,Heat,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,"[[[0.26666668, 0.3137255, 0.3764706], [0.10588...","[dont, live, live, among, remains, dead, peopl...",you dont live live among remains dead people h...
7,False,0,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",5,0,45325,tt0112302,en,Tom and Huck,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0,"[[[1.0, 1.0, 1.0], [1.0, 1.0, 1.0], [1.0, 1.0,...","[good, enough, doesnt, come, close, disneys, f...",good enough it doesnt come close disneys film ...
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",7,http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0,"[[[0.72156864, 0.8, 0.7647059], [0.7490196, 0....","[really, solid, entry, series, brosnan, person...",really solid entry series brosnan personally f...
11,False,0,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",6,0,12110,tt0112896,en,Dracula: Dead and Loving It,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,0,Dracula: Dead and Loving It,False,5.7,210.0,"[[[0.5529412, 0.73333335, 0.827451], [0.521568...","[probably, least, favourite, film, mel, brooks...",most probably least favourite film mel brooks ...
14,False,0,98000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",6,0,1408,tt0112760,en,Cutthroat Island,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Course Has Been Set. There Is No Turning B...,Cutthroat Island,False,5.7,137.0,"[[[0.011764706, 0.007843138, 0.0], [0.44705883...","[bad, notoriously, condemned, still, clearly, ...",not bad notoriously condemned still clearly sh...
15,False,0,52000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",8,0,524,tt0112641,en,Casino,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one stays at the top forever.,Casino,False,7.8,1343.0,"[[[0.03137255, 0.039215688, 0.02745098], [0.01...","[sharon, stone, robert, de, niro, amazing, rob...",sharon stone robert de niro amazing robert de ...
22,False,0,50000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",6,0,9691,tt0112401,en,Assassins,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"In the shadows of life, In the business of dea...",Assassins,False,6.0,394.0,"[[[0.011764706, 0.011764706, 0.003921569], [0....","[check, mate, sly, stallone, stars, ageing, as...",check mate sly stallone stars ageing assassin ...
23,False,0,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",6,0,12665,tt0114168,en,Powder,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143.0,"[[[0.023529412, 0.105882354, 0.32156864], [0.0...","[cant, imagine, theres, meanness, cant, imagin...",cant imagine theres meanness cant imagine one ...
27,False,0,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",7,0,17015,tt0114117,en,Persuasion,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,0,Persuasion,False,7.4,36.0,"[[[0.007843138, 0.015686275, 0.003921569], [0....","[recently, watched, production, jane, persuasi...",recently watched production jane persuasion se...
30,False,0,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",6,0,9909,tt0112792,en,Dangerous Minds,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,She broke the rules... and changed their lives.,Dangerous Minds,False,6.4,249.0,"[[[0.07450981, 0.043137256, 0.03529412], [0.27...","[would, ordinary, simply, adequately, directed...",this would ordinary simply adequately directed...
31,False,0,29500000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",7,0,63,tt0114746,en,Twelve Monkeys,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The future is history.,Twelve Monkeys,False,7.4,2470.0,"[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.9764706...","[really, good, scifi, thriller, wonderful, per...",really good scifi thriller wonderful performan...
35,False,0,11000000,"[{'id': 18, 'name': 'Drama'}]",7,0,687,tt0112818,en,Dead Man Walking,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,0,Dead Man Walking,False,7.3,350.0,"[[[0.4117647, 0.24705882, 0.09019608], [0.9960...","[terrific, movie, dramatic, power, balanced, l...",this terrific movie dramatic power balanced lo...
41,False,0,10000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",7,0,11443,tt0112819,en,Dead Presidents,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"In this daring heist, the only color that coun...",Dead Presidents,False,6.6,80.0,"[[[0.5647059, 0.3647059, 0.43137255], [0.97254...","[brothers, arms, albert, allen, hughes, direct...",brothers in arms albert allen hughes direct pr...
43,False,"{'id': 9818, 'name': 'Mortal Kombat Collection...",18000000,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...",5,0,9312,tt0113855,en,Mortal Kombat,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Nothing In This World Has Prepared You For This.,Mortal Kombat,False,5.4,452.0,"[[[0.12156863, 0.0627451, 0.07450981], [0.5764...","[mortal, kombat, one, popular, controversial, ...",mortal kombat one popular controversial video ...
46,False,0,33000000,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",8,http://www.sevenmovie.com/,807,tt0114369,en,Se7en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Seven deadly sins. Seven ways to die.,Se7en,False,8.1,5915.0,"[[[0.07058824, 0.07058824, 0.078431375], [0.0,...","[hes, experienced, much, pain, suffering, anyo...",hes experienced much pain suffering anyone ive...
47,False,"{'id': 136214, 'name': 'Pocahontas Collection'...",55000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",7,0,10530,tt0114148,en,Pocahontas,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An American legend comes to life.,Pocahontas,False,6.7,1509.0,"[[[0.043137256, 0.02745098, 0.015686275], [0.0...","[good, offering, disney, empocahontasem, enjoy...",good offering disney empocahontasem enjoyable ...
49,False,0,6000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",8,http://www.mgm.com/#/our-titles/2083/The-Usual...,629,tt0114814,en,The Usual Suspects,...,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso...",Released,Five Criminals. One Line Up. No Coincidence.,The Usual Suspects,False,8.1,3334.0,"[[[0.9490196, 0.9411765, 0.89411765], [0.85490...","[great, movie, superb, performance, kevin, spa...",great movie superb performance kevin spacey we...
53,False,0,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",5,0,26441,tt0112499,en,The Big Green,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The biggest kick of the year!,The Big Green,False,5.2,41.0,"[[[0.99607843, 0.99607843, 0.99607843], [0.443...","[starts, wayward, fashion, actually, turns, so...",starts wayward fashion actually turns solid pr...

In [57]:
movies.head()

,adult,belongs_to_collection,budget,genres,label,homepage,id,imdb_id,original_language,original_title,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,imageArrays,reviews,sentences
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",8,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,0,Toy Story,False,7.7,5415.0,"[[[0.8862745, 0.0, 0.14509805], [1.0, 0.850980...","[movie, came, three, im, twenty, seven, goddam...",this movie came three now im twenty seven godd...
1,False,0,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",7,0,8844,tt0113497,en,Jumanji,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[[[0.3764706, 0.5176471, 0.7137255], [0.788235...","[throw, dice, take, turn, jumanji, made, criti...",throw dice take turn jumanji made critics gurn...
5,False,0,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",8,0,949,tt0113277,en,Heat,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,"[[[0.26666668, 0.3137255, 0.3764706], [0.10588...","[dont, live, live, among, remains, dead, peopl...",you dont live live among remains dead people h...
7,False,0,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",5,0,45325,tt0112302,en,Tom and Huck,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0,"[[[1.0, 1.0, 1.0], [1.0, 1.0, 1.0], [1.0, 1.0,...","[good, enough, doesnt, come, close, disneys, f...",good enough it doesnt come close disneys film ...
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",7,http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0,"[[[0.72156864, 0.8, 0.7647059], [0.7490196, 0....","[really, solid, entry, series, brosnan, person...",really solid entry series brosnan personally f...

In [58]:
movies["sentences"] = ["" for _ in range(len(movies))]
for index, row in movies.iterrows():
        words = row['reviews']
        movies.at[index, 'sentences'] = ' '.join(words)

In [59]:
movies=movies.replace(" ", np.nan, inplace=False)
movies.dropna(subset = ["sentences"], inplace=False)

/Users/anshverma/opt/anaconda3/envs/python37/lib/python3.7/site-packages/pandas/core/missing.py:56: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= arr == x

,adult,belongs_to_collection,budget,genres,label,homepage,id,imdb_id,original_language,original_title,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,imageArrays,reviews,sentences
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",8,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,0,Toy Story,False,7.7,5415.0,"[[[0.8862745, 0.0, 0.14509805], [1.0, 0.850980...","[movie, came, three, im, twenty, seven, goddam...",movie came three im twenty seven goddamn thing...
1,False,0,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",7,0,8844,tt0113497,en,Jumanji,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[[[0.3764706, 0.5176471, 0.7137255], [0.788235...","[throw, dice, take, turn, jumanji, made, criti...",throw dice take turn jumanji made critics gurn...
5,False,0,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",8,0,949,tt0113277,en,Heat,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0,"[[[0.26666668, 0.3137255, 0.3764706], [0.10588...","[dont, live, live, among, remains, dead, peopl...",dont live live among remains dead people heat ...
7,False,0,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",5,0,45325,tt0112302,en,Tom and Huck,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45.0,"[[[1.0, 1.0, 1.0], [1.0, 1.0, 1.0], [1.0, 1.0,...","[good, enough, doesnt, come, close, disneys, f...",good enough doesnt come close disneys film fea...
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",7,http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194.0,"[[[0.72156864, 0.8, 0.7647059], [0.7490196, 0....","[really, solid, entry, series, brosnan, person...",really solid entry series brosnan personally f...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,False,0,3000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",7,0,9078,tt0057546,en,The Sword in the Stone,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Tired of living in a Medieval mess...Merlin us...,The Sword in the Stone,False,6.9,935.0,"[[[0.37254903, 0.44705883, 0.7058824], [0.0078...",[],
997,False,0,0,"[{'id': 16, 'name': 'Animation'}, {'id': 18, '...",6,0,29682,tt0041890,en,So Dear to My Heart,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,0,So Dear to My Heart,False,6.3,5.0,"[[[0.75686276, 0.14901961, 0.21960784], [0.698...",[],
998,False,0,48000000,"[{'id': 12, 'name': 'Adventure'}]",7,0,8367,tt0102798,en,Robin Hood: Prince of Thieves,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the good of all men, and the love of one w...",Robin Hood: Prince of Thieves,False,6.6,937.0,"[[[0.7490196, 0.58431375, 0.3019608], [0.99607...",[],
999,False,0,6000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",7,0,433,tt0058331,en,Mary Poppins,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It's supercalifragilisticexpialidocious!,Mary Poppins,False,7.4,1217.0,"[[[1.0, 1.0, 0.99215686], [0.99215686, 0.99215...",[],
1000,False,0,812000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",7,0,11360,tt0033563,en,Dumbo,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The One...The Only...The FABULOUS...,Dumbo,False,6.8,1206.0,"[[[0.81960785, 0.8235294, 0.03137255], [0.6666...",[],

In [60]:
reviews = movies.filter(['original_title','label', 'sentences', 'imageArrays', 'overview', 'reviews'])
print(len(reviews))
reviews.head()

264

,original_title,label,sentences,imageArrays,overview,reviews
0,Toy Story,8,movie came three im twenty seven goddamn thing...,"[[[0.8862745, 0.0, 0.14509805], [1.0, 0.850980...","Led by Woody, Andy's toys live happily in his ...","[movie, came, three, im, twenty, seven, goddam..."
1,Jumanji,7,throw dice take turn jumanji made critics gurn...,"[[[0.3764706, 0.5176471, 0.7137255], [0.788235...",When siblings Judy and Peter discover an encha...,"[throw, dice, take, turn, jumanji, made, criti..."
5,Heat,8,dont live live among remains dead people heat ...,"[[[0.26666668, 0.3137255, 0.3764706], [0.10588...","Obsessive master thief, Neil McCauley leads a ...","[dont, live, live, among, remains, dead, peopl..."
7,Tom and Huck,5,good enough doesnt come close disneys film fea...,"[[[1.0, 1.0, 1.0], [1.0, 1.0, 1.0], [1.0, 1.0,...","A mischievous young boy, Tom Sawyer, witnesses...","[good, enough, doesnt, come, close, disneys, f..."
9,GoldenEye,7,really solid entry series brosnan personally f...,"[[[0.72156864, 0.8, 0.7647059], [0.7490196, 0....",James Bond must unmask the mysterious head of ...,"[really, solid, entry, series, brosnan, person..."

In [61]:
reviews.isna().any()

original_title    False
label             False
sentences         False
imageArrays       False
overview          False
reviews           False
dtype: bool

In [62]:
#movies.to_json("moviesProcessed")

In [63]:
moviesLoad = pd.read_json("moviesProcessed")

In [64]:
moviesLoad.head()

,adult,belongs_to_collection,budget,genres,label,homepage,id,imdb_id,original_language,original_title,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,imageArrays,reviews,sentences
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",8,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,0,Toy Story,False,7.7,5415,"[[[0.0039215689, 0.5098039508000001, 0.7647058...","[this, movie, came, three, now, im, twenty, se...",this movie came three now im twenty seven godd...
1,False,0,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",7,0,8844,tt0113497,en,Jumanji,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413,"[[[0.400000006, 0.5254902244, 0.7098039389], [...","[throw, dice, take, turn, jumanji, made, criti...",throw dice take turn jumanji made critics gurn...
5,False,0,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",8,0,949,tt0113277,en,Heat,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886,"[[[0.14901961390000001, 0.1647058874, 0.200000...","[you, dont, live, live, among, remains, dead, ...",you dont live live among remains dead people h...
7,False,0,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",5,0,45325,tt0112302,en,Tom and Huck,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45,"[[[1.0, 1.0, 1.0], [1.0, 1.0, 1.0], [1.0, 1.0,...","[good, enough, it, doesnt, come, close, disney...",good enough it doesnt come close disneys film ...
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",7,http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194,"[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[really, solid, entry, series, brosnan, person...",really solid entry series brosnan personally f...

In [65]:
dataTypes(moviesLoad['imageArrays'])

<class 'pandas.core.series.Series'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'float'>

In [66]:
movies = moviesLoad

In [67]:
moviesBackup = movies
movies = moviesLoad

In [68]:
dataTypes(moviesBackup['imageArrays'])

<class 'pandas.core.series.Series'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'float'>

In [69]:
#reviews.to_csv('MoviesWithReviewsPostersOverviews.csv')

In [70]:
#movies = fromCsv('MoviesWithReviewsPostersOverviews.csv')

In [71]:
#movies.to_json("testingJsonSaving")

In [72]:
#movies = pd.read_json("testingJsonSaving")

In [73]:
#movies['imageArrays'].iloc[0]

In [74]:
movies.head(20)

,adult,belongs_to_collection,budget,genres,label,homepage,id,imdb_id,original_language,original_title,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,imageArrays,reviews,sentences
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",8,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,0,Toy Story,False,7.7,5415,"[[[0.0039215689, 0.5098039508000001, 0.7647058...","[this, movie, came, three, now, im, twenty, se...",this movie came three now im twenty seven godd...
1,False,0,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",7,0,8844,tt0113497,en,Jumanji,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413,"[[[0.400000006, 0.5254902244, 0.7098039389], [...","[throw, dice, take, turn, jumanji, made, criti...",throw dice take turn jumanji made critics gurn...
5,False,0,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",8,0,949,tt0113277,en,Heat,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886,"[[[0.14901961390000001, 0.1647058874, 0.200000...","[you, dont, live, live, among, remains, dead, ...",you dont live live among remains dead people h...
7,False,0,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",5,0,45325,tt0112302,en,Tom and Huck,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Original Bad Boys.,Tom and Huck,False,5.4,45,"[[[1.0, 1.0, 1.0], [1.0, 1.0, 1.0], [1.0, 1.0,...","[good, enough, it, doesnt, come, close, disney...",good enough it doesnt come close disneys film ...
9,False,"{'id': 645, 'name': 'James Bond Collection', '...",58000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",7,http://www.mgm.com/view/movie/757/Goldeneye/,710,tt0113189,en,GoldenEye,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No limits. No fears. No substitutes.,GoldenEye,False,6.6,1194,"[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[really, solid, entry, series, brosnan, person...",really solid entry series brosnan personally f...
11,False,0,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam...",6,0,12110,tt0112896,en,Dracula: Dead and Loving It,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,0,Dracula: Dead and Loving It,False,5.7,210,"[[[0.5568627715000001, 0.7333333492, 0.8235294...","[most, probably, least, favourite, film, mel, ...",most probably least favourite film mel brooks ...
14,False,0,98000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",6,0,1408,tt0112760,en,Cutthroat Island,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The Course Has Been Set. There Is No Turning B...,Cutthroat Island,False,5.7,137,"[[[0.8666666746, 0.8039215803, 0.7019608021], ...","[not, bad, notoriously, condemned, still, clea...",not bad notoriously condemned still clearly sh...
15,False,0,52000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",8,0,524,tt0112641,en,Casino,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,No one stays at the top forever.,Casino,False,7.8,1343,"[[[0.0274509806, 0.0352941193, 0.0235294122000...","[sharon, stone, robert, de, niro, amazing, rob...",sharon stone robert de niro amazing robert de ...
22,False,0,50000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",6,0,9691,tt0112401,en,Assassins,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,"In the shadows of life, In the business of dea...",Assassins,False,6.0,394,"[[[0.0039215689, 0.0, 0.0], [0.0039215689, 0.0...","[check, mate, sly, stallone, stars, ageing, as...",check mate sly stallone stars ageing assassin ...
23,False,0,0,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name...",6,0,12665,tt0114168,en,Powder,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An extraordinary encounter with another human ...,Powder,False,6.3,143,"[[[0.8156862855, 0.78039217, 0.760784328000000...","[cant, imagine, theres, meanness, cant, imagin...",cant imagine theres meanness cant imagine one ...
27,False,0,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",7,0,17015,tt0114117,en,Persuasion,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,0,Persuasion,False,7.4,36,"[[[0.047058824400000004, 0.0431372561, 0.06274...","[recently, watched, production, jane, persuasi...",recently watched production jane persuasion se...
30,False,0,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",6,0,9909,tt0112792,en,Dangerous Minds,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,She broke the rules... and changed their lives.,Dangerous Minds,False,6.4,249,"[[[0.0705882385, 0.0509803928, 0.0392156877], ...","[this, would, ordinary, simply, adequately, di...",this would ordinary simply adequately directed...
31,False,0,29500000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",7,0,63,tt0114746,en,Twelve Monkeys,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The future is history.,Twelve Monkeys,False,7.4,2470,"[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[really, good, scifi, thriller, wonderful, per...",really good scifi thriller wonderful performan...
35,False,0,11000000,"[{'id': 18, 'name': 'Drama'}]",7,0,687,tt0112818,en,Dead Man Walking,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,0,Dead Man Walking,False,7.3,350,"[[[0.9176470637, 0.6000000238000001, 0.3529411...","[this, terrific, movie, dramatic, power, balan...",this terrific movie dramatic power balanced lo...
41,False,0,10000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",7,0,11443,tt0112819,en,Dead Presidents,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"In this daring heist, the only color that coun...",Dead Presidents,False,6.6,80,"[[[0.0392156877, 0.0039215689, 0.0156862754], ...","[brothers, in, arms, albert, allen, hughes, di...",brothers in arms albert allen hughes direct pr...
43,False,"{'id': 9818, 'name': 'Mortal Kombat Collection...",18000000,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...",5,0,9312,tt0113855,en,Mortal Kombat,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Nothing In This World Has Prepared You For This.,Mortal Kombat,False,5.4,452,"[[[0.14901961390000001, 0.1019607857, 0.101960...","[mortal, kombat, one, popular, controversial, ...",mortal kombat one popular controversial video ...
46,False,0,33000000,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",8,http://www.sevenmovie.com/,807,tt0114369,en,Se7en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Seven deadly sins. Seven ways to die.,Se7en,False,8.1,5915,"[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[hes, experienced, much, pain, suffering, anyo...",hes experienced much pain suffering anyone ive...
47,False,"{'id': 136214, 'name': 'Pocahontas Collection'...",55000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",7,0,10530,tt0114148,en,Pocahontas,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,An American legend comes to life.,Pocahontas,False,6.7,1509,"[[[0.0156862754, 0.0156862754, 0.0156862754], ...","[good, offering, disney, empocahontasem, enjoy...",good offering disney empocahontasem enjoyable ...
49,False,0,6000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",8,http://www.mgm.com/#/our-titles/2083/The-Usual...,629,tt0114814,en,The Usual Suspects,...,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso...",Released,Five Criminals. One Line Up. No Coincidence.,The Usual Suspects,False,8.1,3334,"[[[1.0, 1.0, 0.9607843161], [1.0, 1.0, 0.96078...","[great, movie, superb, performance, kevin, spa...",great movie superb performance kevin spacey we...
53,False,0,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",5,0,26441,tt0112499,en,The Big Green,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The biggest kick of the year!,The Big Green,False,5.2,41,"[[[0.3058823645, 0.7137255073000001, 0.9137254...","[starts, wayward, fashion, actually, turns, so...",starts wayward fashion actually turns solid pr...

In [75]:
movies['sentences'][0]

'this movie came three now im twenty seven goddamn thing still holds final very strong appeal personal favourite decided revisit many years still holds well great movie kids adults wonderful teachable moments just groundbreaking animated movie around stunning feature film entrance pixar emtoy storyem true delight first second last the cgi animation excellent all toys look brilliant world love feel the music good randy newman nice job youve got friend me cracker tom hanks leads strong cast hanks plays woody fantastic effect he best part film tim allen great buzz lightyear don rickles mr potato head wallace shawn rex john ratzenberger hamm also bring fun everything else terrific humour pacing plot enjoy there probably flaws parts namely buzzs supposed unawareness nothing impacts viewing experience go watch'

In [76]:
movies['imageArrays'].iloc[0][0]

[[0.0039215689, 0.5098039508000001, 0.7647058964],
 [0.0, 0.5058823824, 0.7607843280000001],
 [0.0, 0.501960814, 0.7568627596],
 [0.0039215689, 0.4941176474, 0.7529411912],
 [0.0039215689, 0.490196079, 0.7411764860000001],
 [0.0, 0.48627451060000004, 0.7372549176000001],
 [0.0, 0.4784313738, 0.7333333492],
 [0.0, 0.47450980540000004, 0.7294117808],
 [0.0, 0.470588237, 0.7176470757000001],
 [0.0, 0.470588237, 0.7098039389],
 [0.0, 0.470588237, 0.7098039389],
 [0.0, 0.4627451003, 0.7058823705],
 [0.0, 0.4627451003, 0.7058823705],
 [0.0039215689, 0.4666666687, 0.7058823705],
 [0.0039215689, 0.4666666687, 0.7058823705],
 [0.0039215689, 0.4666666687, 0.7058823705],
 [0.0039215689, 0.4666666687, 0.7058823705],
 [0.0039215689, 0.4666666687, 0.7058823705],
 [0.0, 0.4470588267, 0.6901960969000001],
 [0.0, 0.4470588267, 0.6901960969000001],
 [0.0, 0.4470588267, 0.6901960969000001],
 [0.0, 0.4470588267, 0.6901960969000001],
 [0.0, 0.4431372583, 0.6862745285],
 [0.0078431377, 0.4470588267, 0.6941176653000001],
 [0.0078431377, 0.43921568990000004, 0.6862745285],
 [0.0, 0.43921568990000004, 0.6862745285],
 [0.0, 0.43921568990000004, 0.6862745285],
 [0.0, 0.43921568990000004, 0.6862745285],
 [0.0, 0.43921568990000004, 0.6862745285],
 [0.0, 0.4470588267, 0.6901960969000001],
 [0.0, 0.4470588267, 0.6901960969000001],
 [0.0, 0.4470588267, 0.6901960969000001],
 [0.0, 0.4470588267, 0.6901960969000001],
 [0.0, 0.4470588267, 0.6901960969000001],
 [0.0, 0.4470588267, 0.6901960969000001],
 [0.0039215689, 0.45098039510000004, 0.6941176653000001],
 [0.0039215689, 0.45098039510000004, 0.6941176653000001],
 [0.0039215689, 0.45098039510000004, 0.6941176653000001],
 [0.0039215689, 0.45098039510000004, 0.6941176653000001],
 [0.0039215689, 0.45098039510000004, 0.6941176653000001],
 [0.0039215689, 0.45098039510000004, 0.6941176653000001],
 [0.0, 0.45098039510000004, 0.6980392337],
 [0.0039215689, 0.4549019635, 0.7019608021],
 [0.0039215689, 0.4549019635, 0.7019608021],
 [0.0039215689, 0.4549019635, 0.7019608021],
 [0.0039215689, 0.4549019635, 0.7019608021],
 [0.0039215689, 0.4549019635, 0.7019608021],
 [0.0, 0.4627451003, 0.7058823705],
 [0.0, 0.4627451003, 0.7058823705],
 [0.0, 0.4627451003, 0.7058823705],
 [0.0, 0.4666666687, 0.7058823705],
 [0.0, 0.470588237, 0.7098039389],
 [0.0, 0.470588237, 0.7098039389],
 [0.0, 0.470588237, 0.7098039389],
 [0.0, 0.4666666687, 0.7254902124],
 [0.0, 0.470588237, 0.7254902124],
 [0.0, 0.47450980540000004, 0.7294117808],
 [0.0, 0.4784313738, 0.7254902124],
 [0.0, 0.4784313738, 0.7254902124],
 [0.0, 0.4784313738, 0.7254902124],
 [0.0, 0.4784313738, 0.7254902124],
 [0.0078431377, 0.4784313738, 0.7254902124],
 [0.0, 0.4784313738, 0.7254902124],
 [0.0, 0.4823529422, 0.7254902124],
 [0.0, 0.4823529422, 0.7254902124],
 [0.0, 0.4823529422, 0.7254902124],
 [0.0, 0.4823529422, 0.7254902124],
 [0.0, 0.48627451060000004, 0.7294117808],
 [0.0039215689, 0.490196079, 0.7411764860000001],
 [0.0039215689, 0.490196079, 0.7411764860000001],
 [0.0039215689, 0.490196079, 0.7411764860000001],
 [0.0039215689, 0.490196079, 0.7411764860000001],
 [0.0039215689, 0.490196079, 0.7411764860000001],
 [0.0078431377, 0.4941176474, 0.7450980544],
 [0.0078431377, 0.4941176474, 0.7450980544],
 [0.0078431377, 0.4941176474, 0.7450980544],
 [0.0078431377, 0.4941176474, 0.7450980544],
 [0.0078431377, 0.4941176474, 0.7450980544],
 [0.0078431377, 0.4941176474, 0.7450980544],
 [0.011764706100000001, 0.490196079, 0.7450980544],
 [0.0039215689, 0.4941176474, 0.7450980544],
 [0.0078431377, 0.4941176474, 0.7450980544],
 [0.0078431377, 0.4941176474, 0.7450980544],
 [0.0078431377, 0.4941176474, 0.7450980544],
 [0.0078431377, 0.4941176474, 0.7450980544],
 [0.0078431377, 0.4941176474, 0.7450980544],
 [0.0, 0.49803921580000005, 0.7450980544],
 [0.0, 0.49803921580000005, 0.7450980544],
 [0.0, 0.501960814, 0.7490196228],
 [0.0039215689, 0.5058823824, 0.7529411912],
 [0.0, 0.501960814, 0.7490196228],
 [0.0, 0.501960814, 0.7568627596],
 [0.0, 0.501960814, 0.7568627596],
 [0.0, 0.5058823824, 0.7607843280000001],
 [0.0, 0.5058823824, 0.7607843280000001],
 [0.0, 0.5058823824, 0.7607843280000001],
 [0.0, 0.5058823824, 0.7607843280000001],
 [0.0, 0.5098039508000001, 0.7529411912],
 [0.0, 0.501960814, 0.7490196228],
 [0.0, 0.501960814, 0.7490196228],
 [0.0, 0.501960814, 0.7568627596],
 [0.0, 0.5058823824, 0.7607843280000001],
 [0.0, 0.5058823824, 0.7607843280000001],
 [0.0, 0.5058823824, 0.7607843280000001],
 [0.0, 0.5058823824, 0.7607843280000001],
 [0.0, 0.5058823824, 0.7607843280000001],
 [0.0, 0.5058823824, 0.7607843280000001],
 [0.0, 0.5058823824, 0.7607843280000001],
 [0.0, 0.5058823824, 0.7607843280000001],
 [0.0, 0.5058823824, 0.7607843280000001],
 [0.0, 0.5058823824, 0.7607843280000001],
 [0.0, 0.5098039508000001, 0.7529411912],
 [0.0, 0.5098039508000001, 0.7529411912],
 [0.0, 0.5098039508000001, 0.7529411912],
 [0.0, 0.5098039508000001, 0.7529411912],
 [0.0, 0.5098039508000001, 0.7529411912],
 [0.0, 0.5098039508000001, 0.7607843280000001],
 [0.0, 0.5137255192, 0.7647058964],
 [0.0, 0.5137255192, 0.7647058964],
 [0.0, 0.5137255192, 0.7647058964],
 [0.0, 0.5137255192, 0.7647058964],
 [0.0, 0.5137255192, 0.7647058964],
 [0.0, 0.5137255192, 0.7647058964],
 [0.0, 0.5137255192, 0.7647058964],
 [0.0, 0.5137255192, 0.7647058964],
 [0.0, 0.5137255192, 0.7647058964],
 [0.0, 0.5137255192, 0.7647058964],
 [0.0, 0.5137255192, 0.7647058964],
 [0.0, 0.5098039508000001, 0.7607843280000001],
 [0.0, 0.5098039508000001, 0.7607843280000001],
 [0.0, 0.5137255192, 0.7647058964],
 [0.0, 0.5137255192, 0.7647058964],
 [0.0, 0.5137255192, 0.7647058964],
 [0.0, 0.5137255192, 0.7647058964],
 [0.0, 0.5137255192, 0.7647058964],
 [0.0, 0.5137255192, 0.7647058964],
 [0.0, 0.5137255192, 0.7647058964],
 [0.0, 0.5137255192, 0.7647058964],
 [0.0, 0.5176470876, 0.7686274648],
 [0.0, 0.5176470876, 0.7686274648],
 [0.0, 0.5137255192, 0.7647058964],
 [0.0, 0.5176470876, 0.7686274648],
 [0.0, 0.5176470876, 0.7686274648],
 [0.0, 0.5176470876, 0.7686274648],
 [0.0, 0.5176470876, 0.7686274648],
 [0.0, 0.5176470876, 0.7686274648],
 [0.0, 0.5176470876, 0.7686274648],
 [0.0, 0.5176470876, 0.7686274648],
 [0.0, 0.5176470876, 0.7686274648],
 [0.0, 0.5176470876, 0.7686274648],
 [0.0, 0.5176470876, 0.7686274648],
 [0.0, 0.5176470876, 0.7686274648],
 [0.0, 0.5176470876, 0.7686274648],
 [0.0, 0.5176470876, 0.7686274648],
 [0.0, 0.5176470876, 0.7686274648],
 [0.0, 0.5176470876, 0.7686274648],
 [0.0, 0.5176470876, 0.7686274648],
 [0.0, 0.5176470876, 0.7686274648],
 [0.0, 0.5176470876, 0.7725490332],
 [0.0039215689, 0.521568656, 0.7764706016],
 [0.0, 0.5176470876, 0.7725490332],
 [0.0078431377, 0.5137255192, 0.7686274648],
 [0.0, 0.5176470876, 0.7686274648],
 [0.0, 0.521568656, 0.7686274648],
 [0.0, 0.521568656, 0.7686274648],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.521568656, 0.7686274648],
 [0.0, 0.521568656, 0.7686274648],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.521568656, 0.7686274648],
 [0.0, 0.521568656, 0.7686274648],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.5254902244, 0.7725490332],
 [0.0, 0.521568656, 0.7764706016],
 [0.0, 0.521568656, 0.7764706016],
 [0.0, 0.521568656, 0.7764706016],
 [0.0, 0.521568656, 0.7764706016],
 [0.0, 0.521568656, 0.7764706016],
 [0.0, 0.521568656, 0.7764706016],
 [0.0, 0.521568656, 0.7764706016],
 [0.0, 0.521568656, 0.7764706016],
 [0.0, 0.521568656, 0.7764706016],
 [0.0, 0.521568656, 0.7764706016],
 [0.0, 0.521568656, 0.7764706016],
 [0.0, 0.521568656, 0.7764706016],
 [0.0, 0.521568656, 0.7764706016],
 [0.0, 0.521568656, 0.7764706016],
 [0.0, 0.521568656, 0.7764706016],
 [0.0, 0.521568656, 0.7764706016],
 [0.0, 0.521568656, 0.7764706016],
 [0.0, 0.521568656, 0.7764706016],
 [0.0, 0.521568656, 0.7764706016],
 [0.0, 0.521568656, 0.7764706016]]

In [77]:
#Padding
#reference: https://ai-pool.com/d/padding-images-with-numpy
def pad(img, h, w):
    top_pad = np.floor((h - img.shape[0]) / 2).astype(np.uint16)
    bottom_pad = np.ceil((h - img.shape[0]) / 2).astype(np.uint16)
    right_pad = np.ceil((w - img.shape[1]) / 2).astype(np.uint16)
    left_pad = np.floor((w - img.shape[1]) / 2).astype(np.uint16)
    return np.copy(np.pad(img, ((top_pad, bottom_pad), (left_pad, right_pad), (0, 0)), mode='constant', constant_values=0))

In [85]:
#checking if padding works
img = image.load_img('images_movies_genre/toy-story.jpg', target_size=(3, 7, 7))     #(224, 224, 3))
new_img_array=pad(X[0], 8, 8)
new_img=image.array_to_img(new_img_array)
new_img.show()

In [84]:
import ast
#reference-https://www.geeksforgeeks.org/adding-new-column-to-existing-dataframe-in-pandas/
def genre_list(str):
    arr=ast.literal_eval(str)
    genreList=[dict['name'] for dict in arr]
    return genreList

In [80]:
genre_list_collection=[]
for i in movies['genres']:
    genre_list_collection+=[genre_list(i)]
genre_list_collection[0]

['Animation', 'Comedy', 'Family']

In [81]:
#adding a column called genre_list which contains all the genres of the movies in a list
movies.insert(5, "genre_list", genre_list_collection, True)
print("Features: ", movies.columns)
movies['genre_list']

Features:  Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'label',
       'genre_list', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'video', 'vote_average', 'vote_count', 'imageArrays', 'reviews',
       'sentences'],
      dtype='object')

0              [Animation, Comedy, Family]
1             [Adventure, Fantasy, Family]
5         [Action, Crime, Drama, Thriller]
7       [Action, Adventure, Drama, Family]
9            [Adventure, Action, Thriller]
                       ...
996                    [Animation, Family]
997             [Animation, Drama, Family]
998                            [Adventure]
999              [Comedy, Family, Fantasy]
1000                   [Animation, Family]
Name: genre_list, Length: 264, dtype: object

In [82]:
all_genres = sum(genre_list_collection,[])
len(set(all_genres))

19

In [76]:
movies['genre_list'].values

array([list(['Animation', 'Comedy', 'Family']),
       list(['Adventure', 'Fantasy', 'Family']),
       list(['Action', 'Crime', 'Drama', 'Thriller']),
       list(['Action', 'Adventure', 'Drama', 'Family']),
       list(['Adventure', 'Action', 'Thriller']),
       list(['Comedy', 'Horror']), list(['Action', 'Adventure']),
       list(['Drama', 'Crime']),
       list(['Action', 'Adventure', 'Crime', 'Thriller']),
       list(['Drama', 'Fantasy', 'Science Fiction', 'Thriller']),
       list(['Drama', 'Romance']), list(['Drama', 'Crime']),
       list(['Science Fiction', 'Thriller', 'Mystery']), list(['Drama']),
       list(['Action', 'Crime', 'Drama', 'History']),
       list(['Action', 'Fantasy']),
       list(['Crime', 'Mystery', 'Thriller']),
       list(['Adventure', 'Animation', 'Drama', 'Family']),
       list(['Drama', 'Crime', 'Thriller']),
       list(['Action', 'Adventure', 'Comedy', 'Family']),
       list(['Comedy', 'Drama', 'Romance']),
       list(['Music', 'Drama', 'Family']),
       list(['Horror', 'Action', 'Thriller', 'Crime']),
       list(['Action', 'Thriller', 'Romance']),
       list(['Comedy', 'Family']), list(['Horror', 'Science Fiction']),
       list(['Drama']), list(['Drama', 'Thriller']), list(['Comedy']),
       list(['Drama', 'Romance']),
       list(['Action', 'Drama', 'History', 'War']),
       list(['Crime', 'Drama']), list(['Drama', 'Comedy', 'Romance']),
       list(['Action', 'Comedy', 'Crime', 'Thriller']),
       list(['Action', 'Adventure', 'Drama', 'Family']), list(['Drama']),
       list(['Adventure']), list(['Drama', 'Horror']),
       list(['Action', 'Crime', 'Fantasy']), list(['Drama', 'Romance']),
       list(['Fantasy', 'Comedy', 'Family']),
       list(['Mystery', 'Crime', 'Drama']),
       list(['Action', 'Thriller', 'Drama']),
       list(['Thriller', 'Action', 'Crime']),
       list(['Drama', 'Mystery', 'Thriller']),
       list(['Action', 'Thriller']),
       list(['Action', 'Adventure', 'Drama', 'Romance']),
       list(['Action', 'Crime', 'Thriller', 'Drama']),
       list(['Adventure', 'Action', 'Drama', 'Science Fiction', 'Thriller']),
       list(['Science Fiction']), list(['Romance', 'Comedy']),
       list(['Horror', 'Thriller']),
       list(['Crime', 'Drama', 'Mystery', 'Thriller', 'Action']),
       list(['Science Fiction', 'Horror', 'Action']),
       list(['Action', 'Thriller']), list(['Adventure', 'Action']),
       list(['Drama', 'Romance']), list(['Drama', 'Thriller']),
       list(['Drama', 'Family', 'Romance']), list(['Comedy']),
       list(['Romance', 'Drama', 'Comedy']),
       list(['Action', 'Adventure', 'Thriller']),
       list(['Crime', 'Drama', 'Mystery']), list(['Documentary']),
       list(['Comedy', 'Family', 'Drama']),
       list(['Adventure', 'Fantasy', 'Comedy', 'Science Fiction', 'Family']),
       list(['Adventure', 'Action', 'Science Fiction']),
       list(['Drama', 'Romance']), list(['Drama']),
       list(['Adventure', 'Drama', 'Romance', 'War']),
       list(['Drama', 'Horror', 'Science Fiction', 'Romance']),
       list(['Action', 'Comedy', 'Family']), list(['Comedy', 'Romance']),
       list(['Drama', 'Comedy']),
       list(['Action', 'Drama', 'Science Fiction', 'Thriller']),
       list(['Thriller', 'Crime']), list(['Drama', 'Romance']),
       list(['Action', 'Western']), list(['Action', 'Thriller']),
       list(['Action', 'Adventure', 'Science Fiction']),
       list(['Fantasy', 'Drama', 'Comedy', 'Family']),
       list(['Drama', 'Crime']), list(['Drama', 'Thriller']),
       list(['Horror', 'Comedy', 'Thriller']),
       list(['Science Fiction', 'Action', 'Adventure', 'Thriller']),
       list(['Thriller', 'Crime']),
       list(['Action', 'Crime', 'Science Fiction', 'Thriller']),
       list(['Comedy', 'Drama', 'Romance']),
       list(['Action', 'Drama', 'Thriller']),
       list(['Fantasy', 'Action', 'Thriller']),
       list(['Fantasy', 'Comedy', 'Family']),
       list(['Comedy', 'Drama', 'Romance']),
       list(['Adventure', 'Drama', 'Family']),
       list(['Family', 'Animation', 'Drama']),
       list(['Romance', 'Comedy', 'Crime', 'Fantasy']),
       list(['Action', 'Adventure', 'Comedy', 'Drama', 'Western']),
       list(['Crime', 'Drama', 'Thriller']),
       list(['Action', 'Adventure', 'Crime']),
       list(['Thriller', 'Science Fiction', 'Action', 'Crime']),
       list(['Action', 'Thriller']), list(['Horror', 'Thriller']),
       list(['Horror', 'Mystery', 'Thriller']),
       list(['Comedy', 'Family', 'Fantasy']),
       list(['Comedy', 'Crime', 'Music']),
       list(['Action', 'Adventure', 'Comedy', 'Drama', 'Western']),
       list(['Action', 'Comedy', 'Crime']),
       list(['Action', 'Comedy', 'Drama', 'Western']),
       list(['Action', 'Adventure', 'Thriller']),
       list(['Comedy', 'Science Fiction', 'Family']),
       list(['Drama', 'Mystery', 'Romance', 'Thriller']),
       list(['Comedy', 'Drama']),
       list(['Crime', 'Action', 'Science Fiction']),
       list(['Drama', 'Mystery', 'Thriller']),
       list(['Adventure', 'Action', 'Thriller', 'Crime', 'Mystery']),
       list(['Drama', 'Comedy', 'Romance']), list(['Drama']),
       list(['Adventure', 'Science Fiction']),
       list(['Adventure', 'Fantasy', 'Action', 'Comedy', 'Family']),
       list(['Action', 'Comedy', 'Western']), list(['Drama']),
       list(['Comedy', 'Romance']), list(['Comedy', 'Drama']),
       list(['Adventure']), list(['Drama']), list(['Drama', 'Romance']),
       list(['Action', 'Adventure', 'Crime', 'Science Fiction', 'Thriller']),
       list(['Adventure', 'Fantasy', 'Action', 'Thriller', 'Science Fiction']),
       list(['Comedy', 'Drama']), list(['Comedy', 'Drama']),
       list(['Science Fiction', 'Drama', 'Thriller']),
       list(['Comedy', 'Drama', 'Romance']),
       list(['Comedy', 'Crime', 'Romance']),
       list(['Crime', 'Action', 'Mystery', 'Thriller']),
       list(['Fantasy', 'Animation', 'Family']),
       list(['Action', 'Adventure', 'Comedy']),
       list(['Action', 'Adventure', 'Drama', 'History', 'Western']),
       list(['Action', 'Thriller', 'Crime', 'Romance']), list(['Comedy']),
       list(['Comedy', 'Family']),
       list(['Fantasy', 'Drama', 'Thriller', 'Mystery', 'Romance']),
       list(['Animation', 'Family', 'Comedy', 'Adventure', 'Fantasy', 'Romance']),
       list(['Action', 'Thriller', 'Science Fiction']),
       list(['Adventure', 'Drama', 'Western']),
       list(['Fantasy', 'Action']), list(['Crime', 'Drama', 'Thriller']),
       list(['Romance', 'Comedy']), list(['Adventure', 'Western']),
       list(['Crime', 'Thriller']), list(['Crime', 'Drama', 'Thriller']),
       list(['Adventure', 'Comedy', 'Drama', 'Family']),
       list(['Adventure', 'Action', 'Thriller']),
       list(['Drama', 'Thriller', 'Romance']),
       list(['Animation', 'Comedy', 'Drama', 'Family', 'Fantasy']),
       list(['Science Fiction']), list(['Drama', 'Romance']),
       list(['Drama', 'Science Fiction', 'Mystery']),
       list(['Documentary', 'Foreign']),
       list(['Action', 'Adventure', 'Comedy', 'Family']),
       list(['Crime', 'Mystery', 'Thriller']),
       list(['Drama', 'Mystery', 'Thriller']),
       list(['Comedy', 'Romance']), list(['Action', 'Crime', 'Drama']),
       list(['Comedy', 'Fantasy', 'Science Fiction']),
       list(['Action', 'Adventure', 'Thriller']),
       list(['Drama', 'Action', 'Crime']),
       list(['Action', 'Mystery', 'Science Fiction', 'Thriller']),
       list(['Drama', 'Comedy', 'War']), list(['Adventure', 'Action']),
       list(['Comedy', 'Drama', 'Science Fiction']),
       list(['Action', 'Adventure', 'Science Fiction']),
       list(['Drama', 'Mystery', 'Thriller']),
       list(['Drama', 'Animation', 'Family']),
       list(['Comedy', 'Drama', 'Thriller']), list(['Comedy']),
       list(['Action', 'Drama', 'Mystery', 'Thriller']),
       list(['Horror', 'Comedy']), list(['Adventure']),
       list(['Action', 'Comedy', 'Thriller']), list(['Comedy']),
       list(['Action', 'Drama', 'Thriller']),
       list(['Action', 'Drama', 'Science Fiction', 'Thriller']),
       list(['Comedy', 'Family', 'Fantasy']),
       list(['Drama', 'Horror', 'Thriller']),
       list(['Action', 'Adventure', 'Science Fiction', 'Thriller']),
       list(['Comedy', 'Drama', 'Romance']), list(['Drama', 'Crime']),
       list(['Crime', 'Drama', 'Romance', 'Thriller']),
       list(['Horror', 'Mystery', 'Thriller']),
       list(['Fantasy', 'Horror', 'Science Fiction']),
       list(['Comedy', 'Family']),
       list(['Action', 'Adventure', 'Comedy', 'Thriller']),
       list(['Animation', 'Adventure', 'Family']),
       list(['Horror', 'Thriller']), list(['Comedy', 'Romance']),
       list(['Comedy', 'Music', 'Romance']),
       list(['Comedy', 'Drama', 'Romance']),
       list(['Mystery', 'Romance', 'Thriller']),
       list(['Drama', 'Mystery', 'Thriller']),
       list(['Comedy', 'Romance']),
       list(['Drama', 'Mystery', 'Thriller', 'Crime']),
       list(['Mystery', 'Thriller']),
       list(['Comedy', 'Drama', 'Romance']), list(['Comedy', 'Romance']),
       list(['Comedy', 'Mystery', 'Romance', 'Thriller']),
       list(['Drama', 'Romance']), list(['Mystery', 'Crime', 'Thriller']),
       list(['Drama', 'Family', 'Music', 'Romance']),
       list(['Comedy', 'Romance']), list(['Comedy', 'Music', 'Romance']),
       list(['Adventure', 'Family', 'Fantasy']),
       list(['Drama', 'Romance', 'War']), list(['Drama']),
       list(['Mystery', 'Drama']),
       list(['Science Fiction', 'Mystery', 'Adventure']), list(['Drama']),
       list(['Comedy', 'Drama']), list(['Drama', 'Mystery']),
       list(['Mystery', 'Thriller', 'War']),
       list(['Thriller', 'Drama', 'Romance']),
       list(['Drama', 'Mystery', 'Thriller']),
       list(['Crime', 'Drama', 'Mystery', 'Romance', 'Thriller']),
       list(['Comedy', 'Music', 'Romance']),
       list(['Action', 'Adventure', 'Romance']),
       list(['Action', 'Adventure', 'Drama', 'Romance', 'Western']),
       list(['Drama', 'Mystery']),
       list(['Adventure', 'Fantasy', 'Drama', 'Mystery']),
       list(['Comedy', 'Romance']), list(['Comedy', 'Crime', 'Mystery']),
       list(['Adventure', 'Comedy', 'Family', 'Fantasy', 'Romance']),
       list(['Drama', 'Family', 'Fantasy']), list(['Comedy', 'Drama']),
       list(['Comedy', 'Romance']), list(['Drama', 'Romance']),
       list(['Comedy', 'Fantasy', 'Romance']),
       list(['Comedy', 'Music', 'Romance']), list(['Romance', 'Western']),
       list(['Adventure', 'War', 'Romance']),
       list(['Action', 'Adventure', 'Comedy', 'Crime', 'Drama', 'Romance']),
       list(['Drama', 'Comedy', 'Romance']),
       list(['Drama', 'Romance', 'War']),
       list(['Action', 'Crime', 'Drama', 'Thriller']),
       list(['Comedy', 'Crime']),
       list(['Action', 'Comedy', 'Drama', 'Family']),
       list(['Crime', 'Drama']), list(['Comedy', 'Family']),
       list(['Adventure', 'Fantasy', 'Science Fiction', 'Family']),
       list(['Comedy', 'Family', 'Fantasy']),
       list(['Romance', 'Comedy', 'Family', 'Fantasy']),
       list(['Comedy', 'Family']), list(['Adventure']),
       list(['Adventure', 'Comedy', 'Drama', 'Family']),
       list(['Adventure', 'Family']), list(['Drama', 'Family', 'Comedy']),
       list(['Adventure', 'Drama', 'Science Fiction']), list(['Comedy']),
       list(['Fantasy', 'Drama', 'Comedy', 'Family']),
       list(['Family', 'Fantasy', 'Animation', 'Romance']),
       list(['Animation', 'Family', 'Music']),
       list(['Animation', 'Family', 'Music']),
       list(['Animation', 'Family']),
       list(['Animation', 'Drama', 'Family']), list(['Adventure']),
       list(['Comedy', 'Family', 'Fantasy']),
       list(['Animation', 'Family'])], dtype=object)

In [77]:
#One hot encoding the genres
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
mlb.fit(movies['genre_list'].values)
genreLabelsList=mlb.transform(movies['genre_list'])
print(genreLabelsList.shape)
#TODO Add the one hot encoded genres to the movies dataframe
genre_labels=pd.DataFrame(genreLabelsList, columns=mlb.classes_)
print(genre_labels)

(264, 19)
     Action  Adventure  Animation  Comedy  Crime  Documentary  Drama  Family  \
0         0          0          1       1      0            0      0       1
1         0          1          0       0      0            0      0       1
2         1          0          0       0      1            0      1       0
3         1          1          0       0      0            0      1       1
4         1          1          0       0      0            0      0       0
..      ...        ...        ...     ...    ...          ...    ...     ...
259       0          0          1       0      0            0      0       1
260       0          0          1       0      0            0      1       1
261       0          1          0       0      0            0      0       0
262       0          0          0       1      0            0      0       1
263       0          0          1       0      0            0      0       1

     Fantasy  Foreign  History  Horror  Music  Mystery  Romance  \
0          0        0        0       0      0        0        0
1          1        0        0       0      0        0        0
2          0        0        0       0      0        0        0
3          0        0        0       0      0        0        0
4          0        0        0       0      0        0        0
..       ...      ...      ...     ...    ...      ...      ...
259        0        0        0       0      0        0        0
260        0        0        0       0      0        0        0
261        0        0        0       0      0        0        0
262        1        0        0       0      0        0        0
263        0        0        0       0      0        0        0

     Science Fiction  Thriller  War  Western
0                  0         0    0        0
1                  0         0    0        0
2                  0         1    0        0
3                  0         0    0        0
4                  0         1    0        0
..               ...       ...  ...      ...
259                0         0    0        0
260                0         0    0        0
261                0         0    0        0
262                0         0    0        0
263                0         0    0        0

[264 rows x 19 columns]

In [78]:
genre_labels.to_csv('GenreLabels.csv', index=False)

In [79]:
mlb.classes_

array(['Action', 'Adventure', 'Animation', 'Comedy', 'Crime',
       'Documentary', 'Drama', 'Family', 'Fantasy', 'Foreign', 'History',
       'Horror', 'Music', 'Mystery', 'Romance', 'Science Fiction',
       'Thriller', 'War', 'Western'], dtype=object)

In [80]:
overviews=pd.DataFrame(movies["overview"])
movies_with_overviews=pd.concat([overviews, genre_labels], axis=1)
movies_with_overviews.head()
#movies_with_overveiws=genre_labels
#movies_with_overviews["overview"]=movies["overview"]

,overview,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,Foreign,History,Horror,Music,Mystery,Romance,Science Fiction,Thriller,War,Western
0,"Led by Woody, Andy's toys live happily in his ...",0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,When siblings Judy and Peter discover an encha...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,NaN,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,NaN,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NaN,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [81]:
overviews=pd.DataFrame(movies["overview"])
movies_with_overviews=pd.concat([overviews, genre_labels], axis=1)
movies_with_overviews.head()
movies_with_overviews.dropna(subset = ["Action"], inplace=True)
#movies.dropna(subset = ["overview"], inplace=True)

In [82]:
movies_with_overviews

,overview,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,Foreign,History,Horror,Music,Mystery,Romance,Science Fiction,Thriller,War,Western
0,"Led by Woody, Andy's toys live happily in his ...",0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,When siblings Judy and Peter discover an encha...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,NaN,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,NaN,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NaN,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,This Ken Loach docu-drama relates the story of...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
260,NaN,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
261,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
262,An epic tale of three brothers and their fathe...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
263,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [83]:
filename = "/Users/anshverma/Documents/GitHub/MovieGenrePrediction/ImageData"
import numpy as np
def loadImages(): 
    filehandler = open(filename, 'rb') 
    files = np.load(filehandler, allow_pickle=True) #pickle.load(filehandler)
    return files

In [84]:
newX = loadImages()

In [85]:
print("Shape: ", movies_with_overviews.shape)
print("Features: ", movies_with_overviews.columns)
movies_with_overviews.to_csv('MoviesWithOverviews.csv', index=False)

Shape:  (264, 20)
Features:  Index(['overview', 'Action', 'Adventure', 'Animation', 'Comedy', 'Crime',
       'Documentary', 'Drama', 'Family', 'Fantasy', 'Foreign', 'History',
       'Horror', 'Music', 'Mystery', 'Romance', 'Science Fiction', 'Thriller',
       'War', 'Western'],
      dtype='object')

In [86]:
movies.shape

(264, 29)

In [87]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/anshverma/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [88]:
# Text cleaning
#reference: https://www.analyticsvidhya.com/blog/2019/04/predicting-movie-genres-nlp-multi-label-classification/
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))

def clean_text(text): 
    #removing everything except letters and converting to lower case
    text = re.sub("[^a-zA-Z]"," ",str(text))
    text = ' '.join(text.split())
    text = text.lower() 
    return text

# Removing stopwords such as the, and, to, or etc
def remove_stopwords(text):
    no_stopword_text = [w for w in text.split() if not w in stop_words]
    return ' '.join(no_stopword_text)

In [89]:
plot_summaries=[]
for text in movies['overview']:
    cleanText=clean_text(text)
    textWithoutStopwords=remove_stopwords(cleanText)
    plot_summaries+=[textWithoutStopwords]
movies.insert(11, "plot_summary", plot_summaries, True)
print("Features: ", movies.columns)

Features:  Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'label',
       'genre_list', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'plot_summary', 'overview', 'popularity',
       'poster_path', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'title', 'video', 'vote_average', 'vote_count',
       'imageArrays', 'reviews', 'sentences'],
      dtype='object')

In [90]:
movies["plot_summary"]

0       led woody andy toys live happily room andy bir...
1       siblings judy peter discover enchanted board g...
5       obsessive master thief neil mccauley leads top...
7       mischievous young boy tom sawyer witnesses mur...
9       james bond must unmask mysterious head janus s...
                              ...
996     wart young boy aspires knight squire hunting t...
997     tale jeremiah kincaid quest raise champion lam...
998     dastardly sheriff nottingham murders robin fat...
999     movie combines diverting story songs color seq...
1000    dumbo baby elephant born oversized ears suprem...
Name: plot_summary, Length: 264, dtype: object

In [91]:
type(movies['imageArrays'].iloc[298][0])

IndexError: single positional indexer is out-of-bounds

In [92]:
len(movies)

264

In [93]:
genre_labels

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,Foreign,History,Horror,Music,Mystery,Romance,Science Fiction,Thriller,War,Western
0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0
3,1,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0
4,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
260,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0
261,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
262,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0
263,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [144]:
"""convert to numpy after"""
#movies_NP = movies.to_numpy()
#genre_labels_NP = genre_labels.to_numpy()
#random_state = 42 makes the division random, don't know what (= 42) is; can be other
#numbers
#convertToFloat(movies)
X_train, X_test, y_train, y_test = train_test_split(movies, genre_labels, test_size=0.20, random_state=42)

In [129]:
X_train.head()

,adult,belongs_to_collection,budget,genres,label,genre_list,homepage,id,imdb_id,original_language,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,imageArrays,reviews,sentences
586,False,"{'id': 9743, 'name': 'The Hannibal Lecter Anth...",19000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",8,"[Crime, Drama, Thriller]",0,274,tt0102926,en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,To enter the mind of a killer she must challen...,The Silence of the Lambs,False,8.1,4549,"[[[0.8549019694000001, 0.8588235378, 0.8352941...","[unlike, lot, viewers, first, saw, the, silenc...",unlike lot viewers first saw the silence lambs...
277,False,0,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",7,"[Drama, Comedy]",0,11593,tt0110684,en,...,"[{'iso_639_1': 'cs', 'name': 'Český'}, {'iso_6...",Released,In a town where nothing ever happens... everyt...,Nobody's Fool,False,7.0,56,"[[[0.9882352948, 0.9960784316000001, 0.9843137...","[this, one, classic, films, would, never, put,...",this one classic films would never put tenbest...
311,False,0,45000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",6,"[Action, Thriller]",0,2636,tt0111255,en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The government taught him to kill. Now he's us...,The Specialist,False,5.5,317,"[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[bomber, makes, heroic, protagonist, might, ex...",bomber makes heroic protagonist might expect t...
989,False,0,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",6,"[Drama, Family, Comedy]",0,20723,tt0059793,en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It takes a Siamese secret agent to unravel the...,That Darn Cat!,False,6.4,28,"[[[1.0, 1.0, 1.0], [1.0, 1.0, 1.0], [1.0, 1.0,...",[],
817,False,0,0,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",8,"[Drama, Horror, Thriller]",0,31417,tt0053459,fr,...,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,0,Eyes Without a Face,False,7.5,130,"[[[0.0549019612, 0.0549019612, 0.0549019612], ...","[how, odd, comfort, you, still, hope, least, l...",how odd comfort you still hope least les yeux ...

In [100]:
X_test.head()

,adult,belongs_to_collection,budget,genres,label,genre_list,homepage,id,imdb_id,original_language,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,imageArrays,reviews,sentences
259,False,0,0,"[{'id': 18, 'name': 'Drama'}]",7,[Drama],0,49980,tt0110296,en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,0,Ladybird Ladybird,False,7.4,14,"[[[0.0039215689, 0.0039215689, 0.0039215689], ...","[maggie, meets, george, bar, he, fallen, singi...",maggie meets george bar he fallen singing want...
872,False,0,2540800,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",8,"[Comedy, Music, Romance]",0,872,tt0045152,en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What a Glorious Feeling!,Singin' in the Rain,False,7.9,747,"[[[0.29019609090000004, 0.031372550900000004, ...","[just, masterpiece, mixing, interesting, backg...",just masterpiece mixing interesting background...
316,False,0,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",6,"[Drama, Thriller]",0,87078,tt0108260,en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A thriller where nothing is black and white.,Suture,False,6.0,7,"[[[0.4352941215, 0.4313725531, 0.4549019635], ...","[stitching, burning, ring, fire, suture, writt...",stitching burning ring fire suture written dir...
982,False,"{'id': 12087, 'name': 'Herbie Collection', 'po...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",6,"[Romance, Comedy, Family, Fantasy]",0,10869,tt0071607,en,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Loveable Bug's back doin' his thing!,Herbie Rides Again,False,5.9,77,"[[[0.9960784316000001, 0.9960784316000001, 0.9...","[back, tennessee, aunt, helen, hayes, new, own...",back tennessee aunt helen hayes new owner herb...
431,False,0,40000000,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",5,"[Drama, Mystery, Romance, Thriller]",0,2124,tt0109456,en,...,"[{'iso_639_1': 'cs', 'name': 'Český'}, {'iso_6...",Released,"In the heat of desire, love can turn to decept...",Color of Night,False,5.4,117,"[[[0.0, 0.0, 0.0], [0.0, 0.0, 0.0], [0.0, 0.0,...","[ust, thought, theyd, never, make, mystery, th...",ust thought theyd never make mystery thriller ...

In [130]:
print(X_train.columns.equals(y_train.columns)) #this should not be equal
print(X_train.columns)
print(X_test.columns)
print(movies.columns)

False
Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'label',
       'genre_list', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'plot_summary', 'overview', 'popularity',
       'poster_path', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'title', 'video', 'vote_average', 'vote_count',
       'imageArrays', 'reviews', 'sentences'],
      dtype='object')
Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'label',
       'genre_list', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'plot_summary', 'overview', 'popularity',
       'poster_path', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'title', 'video', 'vote_average', 'vote_count',
       'imageArrays', 'reviews', 'sentences'],
      dtype='object')
Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'label',
       'genre_list', 'homepage', 'id', 'imdb_id', 'original_language',
       'original_title', 'plot_summary', 'overview', 'popularity',
       'poster_path', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'title', 'video', 'vote_average', 'vote_count',
       'imageArrays', 'reviews', 'sentences'],
      dtype='object')

In [131]:
for val in X_train: 
    print(val)

adult
belongs_to_collection
budget
genres
label
genre_list
homepage
id
imdb_id
original_language
original_title
plot_summary
overview
popularity
poster_path
production_companies
production_countries
release_date
revenue
runtime
spoken_languages
status
tagline
title
video
vote_average
vote_count
imageArrays
reviews
sentences

In [132]:
#saveImages(newX, movies['genre_list']) 
#saveImages(X_train, X_test, fileNameThree, fileNameFour)
#saveImages(y_train, y_test, fileNameFive, fileNameSix)

In [145]:
"""
saveDataFrame(X_train, "X_train")
saveDataFrame(X_test, "X_test")
saveDataFrame(y_train, "y_train")
saveDataFrame(y_test, "y_test")
"""

In [146]:
#tempSave(genre_labels)

In [152]:
X_train = pd.read_json("X_train")
X_test = pd.read_json("X_test")
y_train = pd.read_json("y_train")
y_test = pd.read_json("y_test")

In [153]:
from torch.utils.data import TensorDataset
from torch.utils.data import DataLoader
XImages_train = X_train['imageArrays'].values
XImages_train = list(XImages_train)
yImages_train = y_train.to_numpy()
tensor_y = torch.Tensor(yImages_train) # transform to torch tensor
tensor_x = torch.Tensor(XImages_train) #from_numpy
trainDataset = TensorDataset(tensor_y,tensor_x) # create your datset

In [183]:
from torch.utils.data import TensorDataset
from torch.utils.data import DataLoader
XImages_test = X_test['imageArrays'].values
XImages_test = list(XImages_test)
yImages_test = y_test.to_numpy()
tensor_y = torch.Tensor(yImages_test) # transform to torch tensor
tensor_x = torch.Tensor(XImages_test) #from_numpy
trainDataset = TensorDataset(tensor_y,tensor_x) # create your datset

In [198]:
X_test['imageArrays'].values.size

53

In [200]:
import torch
import torch.nn as nn
#from torchsummary import summary

class ResNet(nn.Module):
    def __init__(self, block, layers, num_classes=19):
        super(ResNet, self).__init__()
        self.block = block
        self.conv1 = nn.Conv2d(224, 64, kernel_size=7, stride=2, padding=3) #error is arizing from here
        self.bn1 = nn.BatchNorm2d(64)
        self.relu = nn.ReLU()
        self.maxpool = nn.MaxPool2d(kernel_size=3, stride=2, padding=1)

        #ResNet layers
        self.layer1 = self.new_layer(num_blocks=layers[0], in_channels=64, out_channels=64, stride=1)
        self.layer2 = self.new_layer(num_blocks=layers[1], in_channels=64, out_channels=128, stride=2)
        self.layer3 = self.new_layer(num_blocks=layers[2], in_channels=128, out_channels=256, stride=2)
        self.layer4 = self.new_layer(num_blocks=layers[3], in_channels=256, out_channels=512, stride=2)

        self.avgpool = nn.AdaptiveAvgPool2d((1, 1))
        self.fc = nn.Linear(512, num_classes)

    def forward(self, x):
        
        #print(x)
        #dimensions(x)
        
        #print("input: ", x.shape)
        x = self.conv1(x)
        #print("conv1: ", x.shape)
        x = self.bn1(x)
        #print("bn1: ", x.shape)
        x = self.relu(x)
        #print("relu: ", x.shape)
        x = self.maxpool(x)
        #print("maxpool: ", x.shape)

        x = self.layer1(x)
        #print("layer 1: ", x.shape)
        x = self.layer2(x)
        #print("layer 2: ", x.shape)
        x = self.layer3(x)
        #print("layer 3: ", x.shape)
        x = self.layer4(x)
        #print("layer 4: ", x.shape)

        x = self.avgpool(x)
        x = x.reshape(x.shape[0], -1)
        x = self.fc(x)
        
        print("forward one")
        print()
        print(x)
        print("this is the output of the model")
        print()
        print()

        return x
    
    def new_layer(self, num_blocks, in_channels, out_channels, stride):
        layers = []
        layers.append(self.block(in_channels, out_channels))
        intermediate_channels = out_channels
        for i in range(num_blocks):
            layers.append(self.block(intermediate_channels, out_channels))
           
        return nn.Sequential(*layers)

class Block(nn.Module):
    def __init__(self, in_channels, out_channels, stride=1):
        super(Block, self).__init__()
        self.in_channels = in_channels
        self.out_channels = out_channels

        self.conv1 = nn.Conv2d(in_channels, out_channels, kernel_size=3, stride=stride, padding=1)
        self.bn1 = nn.BatchNorm2d(out_channels)
        self.conv2 = nn.Conv2d(out_channels, out_channels, kernel_size=3, stride=stride, padding=1)
        self.bn2 = nn.BatchNorm2d(out_channels)
        self.conv3 = nn.Conv2d(out_channels, out_channels, kernel_size=3, stride=stride, padding=1)
        self.bn3 = nn.BatchNorm2d(out_channels)
        self.conv4 = nn.Conv2d(out_channels, out_channels, kernel_size=3, stride=stride, padding=1)
        self.bn4 = nn.BatchNorm2d(out_channels)
        self.relu = nn.ReLU()

        self.identity = nn.Conv2d(in_channels, out_channels, kernel_size=1, stride=stride, padding=0)
    
    def forward(self, x):
        identity = x.clone()
        print("hi!")
        
        print()
        print("this is the original identity")
        print()
        print(identity)
        print()
        
        if self.in_channels != self.out_channels:
            identity = self.identity(identity)
            print()
            print("this is the transformed identity")
            print(identity)
            print()
        #print("id1", identity.shape)

        x = self.conv1(x)
        x = self.bn1(x)
        x = self.relu(x)
        x = self.conv2(x)
        x = self.bn2(x)
        x = self.relu(x)

        #Skip connection 1
        #print("id2", identity.shape, x.shape)
        x += identity 
        #Ansh - this doesn't make sense bc ur adding to a changed x what x was originally
        identity = x.clone() 
        #Ansh - changing identity to be the new x representation
        #print("id3", identity.shape)

        x = self.conv3(x)
        x = self.bn3(x)
        x = self.relu(x)
        x = self.conv4(x)
        x = self.bn4(x)
        x = self.relu(x)

        #Skip connection 2
        x += identity
        #same question here -> doesn't really make sense, because the identity mapping 

        x = self.relu(x)
        
        print()
        print()
        print(x)
        print("this is the output of the model")
        print()
        print()

        return x

def ResNet34():
    return ResNet(Block, [3, 4, 6, 3])

model = ResNet34()
#summary(model, input_size=(3, 224, 224), batch_size=1)

In [202]:
def set_parameter_requires_grad(model, feature_extracting):
    if feature_extracting:
        for param in model.parameters():
            param.requires_grad = False

In [214]:
import torchvision.models as models
def initialize_model(model_name, num_classes, feature_extract, use_pretrained=True):
    # Initialize these variables which will be set in this if statement. Each of these
    #   variables is model specific.
    model_ft = None
    input_size = 0

    if model_name == "resnet":
        model_ft = models.resnet34(pretrained=use_pretrained)
        set_parameter_requires_grad(model_ft, feature_extract)
        num_ftrs = model_ft.fc.in_features
        model_ft.fc = nn.Sequential(
            torch.nn.Linear(num_ftrs, num_classes),
            torch.nn.Sigmoid() #relu has no upper bound
        ) #torch.nn.Linear(num_ftrs, num_classes)
        model_ft.conv1 = torch.nn.Conv2d(224, 64, kernel_size=(7, 7), stride=(2, 2), padding=(3, 3), bias=False)
        input_size = 224

    else:
        print("Invalid model name, exiting...")
        exit()

    return model_ft, input_size

In [215]:
model, input_size = initialize_model("resnet", 19, False)

In [216]:
model

ResNet(
  (conv1): Conv2d(224, 64, kernel_size=(7, 7), stride=(2, 2), padding=(3, 3), bias=False)
  (bn1): BatchNorm2d(64, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (relu): ReLU(inplace=True)
  (maxpool): MaxPool2d(kernel_size=3, stride=2, padding=1, dilation=1, ceil_mode=False)
  (layer1): Sequential(
    (0): BasicBlock(
      (conv1): Conv2d(64, 64, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn1): BatchNorm2d(64, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (relu): ReLU(inplace=True)
      (conv2): Conv2d(64, 64, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn2): BatchNorm2d(64, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    )
    (1): BasicBlock(
      (conv1): Conv2d(64, 64, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn1): BatchNorm2d(64, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (relu): ReLU(inplace=True)
      (conv2): Conv2d(64, 64, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn2): BatchNorm2d(64, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    )
    (2): BasicBlock(
      (conv1): Conv2d(64, 64, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn1): BatchNorm2d(64, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (relu): ReLU(inplace=True)
      (conv2): Conv2d(64, 64, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn2): BatchNorm2d(64, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    )
  )
  (layer2): Sequential(
    (0): BasicBlock(
      (conv1): Conv2d(64, 128, kernel_size=(3, 3), stride=(2, 2), padding=(1, 1), bias=False)
      (bn1): BatchNorm2d(128, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (relu): ReLU(inplace=True)
      (conv2): Conv2d(128, 128, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn2): BatchNorm2d(128, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (downsample): Sequential(
        (0): Conv2d(64, 128, kernel_size=(1, 1), stride=(2, 2), bias=False)
        (1): BatchNorm2d(128, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      )
    )
    (1): BasicBlock(
      (conv1): Conv2d(128, 128, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn1): BatchNorm2d(128, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (relu): ReLU(inplace=True)
      (conv2): Conv2d(128, 128, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn2): BatchNorm2d(128, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    )
    (2): BasicBlock(
      (conv1): Conv2d(128, 128, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn1): BatchNorm2d(128, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (relu): ReLU(inplace=True)
      (conv2): Conv2d(128, 128, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn2): BatchNorm2d(128, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    )
    (3): BasicBlock(
      (conv1): Conv2d(128, 128, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn1): BatchNorm2d(128, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (relu): ReLU(inplace=True)
      (conv2): Conv2d(128, 128, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn2): BatchNorm2d(128, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    )
  )
  (layer3): Sequential(
    (0): BasicBlock(
      (conv1): Conv2d(128, 256, kernel_size=(3, 3), stride=(2, 2), padding=(1, 1), bias=False)
      (bn1): BatchNorm2d(256, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (relu): ReLU(inplace=True)
      (conv2): Conv2d(256, 256, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn2): BatchNorm2d(256, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (downsample): Sequential(
        (0): Conv2d(128, 256, kernel_size=(1, 1), stride=(2, 2), bias=False)
        (1): BatchNorm2d(256, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      )
    )
    (1): BasicBlock(
      (conv1): Conv2d(256, 256, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn1): BatchNorm2d(256, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (relu): ReLU(inplace=True)
      (conv2): Conv2d(256, 256, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn2): BatchNorm2d(256, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    )
    (2): BasicBlock(
      (conv1): Conv2d(256, 256, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn1): BatchNorm2d(256, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (relu): ReLU(inplace=True)
      (conv2): Conv2d(256, 256, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn2): BatchNorm2d(256, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    )
    (3): BasicBlock(
      (conv1): Conv2d(256, 256, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn1): BatchNorm2d(256, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (relu): ReLU(inplace=True)
      (conv2): Conv2d(256, 256, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn2): BatchNorm2d(256, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    )
    (4): BasicBlock(
      (conv1): Conv2d(256, 256, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn1): BatchNorm2d(256, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (relu): ReLU(inplace=True)
      (conv2): Conv2d(256, 256, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn2): BatchNorm2d(256, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    )
    (5): BasicBlock(
      (conv1): Conv2d(256, 256, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn1): BatchNorm2d(256, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (relu): ReLU(inplace=True)
      (conv2): Conv2d(256, 256, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn2): BatchNorm2d(256, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    )
  )
  (layer4): Sequential(
    (0): BasicBlock(
      (conv1): Conv2d(256, 512, kernel_size=(3, 3), stride=(2, 2), padding=(1, 1), bias=False)
      (bn1): BatchNorm2d(512, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (relu): ReLU(inplace=True)
      (conv2): Conv2d(512, 512, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn2): BatchNorm2d(512, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (downsample): Sequential(
        (0): Conv2d(256, 512, kernel_size=(1, 1), stride=(2, 2), bias=False)
        (1): BatchNorm2d(512, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      )
    )
    (1): BasicBlock(
      (conv1): Conv2d(512, 512, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn1): BatchNorm2d(512, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (relu): ReLU(inplace=True)
      (conv2): Conv2d(512, 512, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn2): BatchNorm2d(512, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    )
    (2): BasicBlock(
      (conv1): Conv2d(512, 512, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn1): BatchNorm2d(512, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (relu): ReLU(inplace=True)
      (conv2): Conv2d(512, 512, kernel_size=(3, 3), stride=(1, 1), padding=(1, 1), bias=False)
      (bn2): BatchNorm2d(512, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    )
  )
  (avgpool): AdaptiveAvgPool2d(output_size=(1, 1))
  (fc): Sequential(
    (0): Linear(in_features=512, out_features=19, bias=True)
    (1): ReLU()
  )
)

In [113]:
train_dataloader = DataLoader(trainDataset, batch_size=256, shuffle=True)
for i, (test, train) in enumerate(train_dataloader):
    print(train.shape)
    print(test.shape)
    print(test)
print("on to the next")

torch.Size([211, 224, 224, 3])
torch.Size([211, 19])
tensor([[0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        [0., 0., 0.,  ..., 0., 0., 0.],
        ...,
        [0., 0., 0.,  ..., 0., 0., 0.],
        [1., 0., 0.,  ..., 1., 0., 0.],
        [1., 0., 0.,  ..., 1., 0., 0.]])
on to the next

In [217]:
model, input_size = initialize_model("resnet", 19, False)

In [229]:
import torch
import torch.nn as nn
from torch.autograd import Variable
from torchvision import transforms
from torch.utils.data.dataset import Dataset  # For custom datasets
#from data_pytorch import Data
#from rotnet import RotNet
import time
import shutil
import yaml

#parser = argparse.ArgumentParser(description='Configuration details for training/testing rotation net')
#parser.add_argument('--config', type=str, required=True)
#parser.add_argument('--train', action='store_true')
#parser.add_argument('--data_dir', type=str, required=True)
#parser.add_argument('--image', type=str)
#parser.add_argument('--model_number', type=str, required=True)

#args = parser.parse_args()

#config = yaml.load(open(args.config, 'r'), Loader=yaml.FullLoader)

"""
epochs = 10

for epoch in range(epochs):
    total_loss = 0
    
    #for batch in train_dataloader:
    for i, data in enumerate(train_dataloader, 0):
        #print(i)
        #print(data)
        #X_batch, y_batch = batch[0], batch[1] #.view(-1, 784)
        #print(y_batch)
        #print(X_batch, y_batch)
        #print(X_batch, y_batch)
        # THESE 5 LINES ARE IMPORTANT, UNDERSTAND WHAT IS HAPPENING HERE
        optimizer.zero_grad()
        predicted_batch = model(data) 
        #print(predicted_batch)
        loss = criterion(predicted_batch, y_batch)
        #print(loss)
        loss.backward()
        optimizer.step()
        total_loss += loss
        
        
       
    print("Epoch {0}: {1}".format(epoch, total_loss))
    #if epoch%5 == 0 and epoch != 0:
    #    test_batch = next(iter(test_dataloader))
    #    X_test, y_test = test_batch[0].view(-1, 784), test_batch[1]
    #    predicted = model(X_test)
    #    test_acc = torch.sum(y_test == torch.argmax(predicted, dim=1), dtype=torch.double) / len(y_test)
    #    print("\tTest Accuracy {0}".format(test_acc))
"""

criterion = torch.nn.BCELoss() #torch.nn.MSELoss()

def train(train_loader, model, criterion, optimizer, epoch):
    model.train()
    total_loss = 0
    for i, (target, input) in enumerate(train_loader):
        #print(target)
        #print(target.size())
        optimizer.zero_grad()
        outputs = model(input)
        #target = target.detach()
        #outputs = outputs.detach()
        loss = criterion(target, outputs.detach())
        loss.backward()
        optimizer.step()
        total_loss += loss
        print(total_loss)
    print("on to the next")
    """
    for i, (test, train) in enumerate(train_loader):
        optimizer.zero_grad()
        #print(train.shape)
        predicted_batch = model(train)
        loss = criterion(predicted_batch, test)
        loss.backward()
        optimizer.step()
        total_loss += loss
        print(total_loss)
    """
    

def validate(val_loader, model, criterion):
    model.eval()
    total_loss = 0
    for i, (target, input) in enumerate(val_loader):
        #optimizer.zero_grad()
        outputs = model(input)
        #target = target.detach()
        #outputs = outputs.detach()
        loss = criterion(target, outputs.detach())
        total_loss += loss
        print(total_loss)
        #TODO: implement the validation. Remember this is validation and not training
        #so some things will be different.

def save_checkpoint(state, best_one, filename='rotationnetcheckpoint.pth.tar', filename2='rotationnetmodelbest.pth.tar'):
    torch.save(state, filename)
    #best_one stores whether your current checkpoint is better than the previous checkpoint
    if best_one:
        shutil.copyfile(filename, filename2)

def main():
    n_epochs = 10 #config["num_epochs"]
    #model = ResNet34()
    optimizer = torch.optim.SGD(model.parameters(), lr=0.0001, momentum = 0.9) #temp
    #train_dataset = loadImages()
    train_dataloader = DataLoader(trainDataset, batch_size=256, shuffle=True)
    #val_loader = #how will you get your dataset
    #val_loader = #how will you use pytorch's function to build a dataloader
    for epoch in range(n_epochs):
        train(train_dataloader, model, criterion, optimizer, epoch)
            
         #TODO: make your loop which trains and validates. Use the train() func

         #TODO: Save your checkpoint
            
def mainValidate():
    n_epochs = 10 #config["num_epochs"]
    test_dataloader = DataLoader(testDataset, batch_size=256, shuffle=True)
    
    for epoch in range(n_epochs):
        validate(test_dataloader, model, criterion)
            
         #TODO: make your loop which trains and validates. Use the train() func

         #TODO: Save your checkpoint

if __name__ == "__main__":
    main()
    print("starting validation")
    mainValidate()
    
    
#[0, 0, 0, 1, 0, 0, 0, .....]

RuntimeError: element 0 of tensors does not require grad and does not have a grad_fn

In [208]:
def validate(val_loader, model, criterion):
    model.eval()
    total_loss = 0
    for i, (target, input) in enumerate(val_loader):
        #optimizer.zero_grad()
        outputs = model(input)
        print(outputs)
        loss = criterion(target, outputs)
        total_loss += loss
        print(total_loss)
        #TODO: implement the validation. Remember this is validation and not training
        #so some things will be different.

mainValidate()

tensor([[ 0.3052,  0.3872, -0.5248,  ..., -0.2718, -0.1451,  0.4604],
        [ 0.1606,  0.5293, -0.8242,  ..., -0.6280, -0.1267,  0.3739],
        [ 0.0564,  0.3257, -0.7012,  ..., -0.5781, -0.0535,  0.2272],
        ...,
        [ 0.3180,  0.4331, -0.6366,  ..., -0.3852, -0.1916,  0.4874],
        [ 0.2656,  0.3908, -0.5422,  ..., -0.3175, -0.1893,  0.4941],
        [ 0.1611,  0.4156, -0.7930,  ..., -0.6387, -0.1447,  0.3820]],
       grad_fn=<AddmmBackward>)
tensor(24.6228, grad_fn=<AddBackward0>)
tensor([[ 0.1607,  0.3688, -0.7495,  ..., -0.6171, -0.0072,  0.3247],
        [ 0.3048,  0.4844, -0.5824,  ..., -0.3201, -0.1847,  0.4586],
        [ 0.1606,  0.5293, -0.8242,  ..., -0.6280, -0.1267,  0.3739],
        ...,
        [ 0.2868,  0.5430, -0.6547,  ..., -0.4099, -0.1607,  0.4372],
        [ 0.2431,  0.3637, -0.5845,  ..., -0.3207, -0.1680,  0.5199],
        [ 0.1556,  0.4037, -0.7605,  ..., -0.5646, -0.0279,  0.3332]],
       grad_fn=<AddmmBackward>)
tensor(24.6228, grad_fn=<AddBackward0>)
tensor([[ 0.1867,  0.4700, -0.8229,  ..., -0.5981, -0.1518,  0.4434],
        [ 0.2868,  0.5430, -0.6547,  ..., -0.4099, -0.1607,  0.4372],
        [ 0.2600,  0.4973, -0.7223,  ..., -0.4783, -0.2058,  0.4227],
        ...,
        [ 0.1843,  0.4452, -0.7616,  ..., -0.5854, -0.1266,  0.3418],
        [ 0.2518,  0.3891, -0.7562,  ..., -0.4942, -0.1259,  0.4746],
        [ 0.2741,  0.4357, -0.6320,  ..., -0.3619, -0.1816,  0.4411]],
       grad_fn=<AddmmBackward>)
tensor(24.6228, grad_fn=<AddBackward0>)
tensor([[ 0.2414,  0.4838, -0.7275,  ..., -0.4912, -0.1876,  0.4256],
        [ 0.3045,  0.5050, -0.6311,  ..., -0.3716, -0.2055,  0.5000],
        [ 0.2175,  0.5172, -0.7286,  ..., -0.4671, -0.1678,  0.4343],
        ...,
        [ 0.2518,  0.3891, -0.7562,  ..., -0.4942, -0.1259,  0.4746],
        [ 0.1556,  0.4037, -0.7605,  ..., -0.5646, -0.0279,  0.3332],
        [ 0.1607,  0.3688, -0.7495,  ..., -0.6171, -0.0072,  0.3247]],
       grad_fn=<AddmmBackward>)
tensor(24.6228, grad_fn=<AddBackward0>)
tensor([[ 0.2567,  0.2910, -0.7016,  ..., -0.6396,  0.0169,  0.3081],
        [ 0.1843,  0.4452, -0.7616,  ..., -0.5854, -0.1266,  0.3418],
        [ 0.1345,  0.4066, -0.8128,  ..., -0.6004, -0.0709,  0.3109],
        ...,
        [ 0.2141,  0.5075, -0.7907,  ..., -0.5912, -0.1428,  0.3984],
        [ 0.2804,  0.4651, -0.5883,  ..., -0.3415, -0.1817,  0.4366],
        [ 0.3075,  0.4704, -0.5818,  ..., -0.3265, -0.2401,  0.5185]],
       grad_fn=<AddmmBackward>)
tensor(24.6228, grad_fn=<AddBackward0>)
tensor([[ 0.3137,  0.5035, -0.6065,  ..., -0.3689, -0.1877,  0.4924],
        [ 0.2005,  0.5237, -0.8040,  ..., -0.5652, -0.1088,  0.4246],
        [ 0.1978,  0.3379, -0.7852,  ..., -0.6271, -0.0600,  0.4261],
        ...,
        [ 0.0751,  0.2709, -0.7452,  ..., -0.5424, -0.1434,  0.4448],
        [ 0.2752,  0.5385, -0.7790,  ..., -0.4831, -0.1978,  0.4990],
        [ 0.2741,  0.4357, -0.6320,  ..., -0.3619, -0.1816,  0.4411]],
       grad_fn=<AddmmBackward>)
tensor(24.6228, grad_fn=<AddBackward0>)
tensor([[ 0.1843,  0.4452, -0.7616,  ..., -0.5854, -0.1266,  0.3418],
        [ 0.3052,  0.3872, -0.5248,  ..., -0.2718, -0.1451,  0.4604],
        [ 0.2431,  0.3637, -0.5845,  ..., -0.3207, -0.1680,  0.5199],
        ...,
        [ 0.1836,  0.4632, -0.7557,  ..., -0.5117, -0.1648,  0.4613],
        [ 0.2823,  0.5705, -0.7250,  ..., -0.3968, -0.1726,  0.5016],
        [ 0.1926,  0.2073, -0.6217,  ..., -0.5757,  0.0821,  0.2194]],
       grad_fn=<AddmmBackward>)
tensor(24.6228, grad_fn=<AddBackward0>)
tensor([[ 0.3207,  0.4211, -0.4784,  ..., -0.1978, -0.2295,  0.4553],
        [ 0.1606,  0.5293, -0.8242,  ..., -0.6280, -0.1267,  0.3739],
        [ 0.1867,  0.4700, -0.8229,  ..., -0.5981, -0.1518,  0.4434],
        ...,
        [ 0.2165,  0.4923, -0.7050,  ..., -0.4790, -0.1569,  0.4920],
        [ 0.2105,  0.4418, -0.7619,  ..., -0.5676, -0.1116,  0.3574],
        [ 0.2408,  0.4606, -0.6943,  ..., -0.4450, -0.1815,  0.3909]],
       grad_fn=<AddmmBackward>)
tensor(24.6228, grad_fn=<AddBackward0>)
tensor([[ 0.2242,  0.5044, -0.6989,  ..., -0.4879, -0.1718,  0.4644],
        [ 0.2518,  0.3891, -0.7562,  ..., -0.4942, -0.1259,  0.4746],
        [ 0.1556,  0.4037, -0.7605,  ..., -0.5646, -0.0279,  0.3332],
        ...,
        [ 0.3180,  0.4331, -0.6366,  ..., -0.3852, -0.1916,  0.4874],
        [ 0.2414,  0.4838, -0.7275,  ..., -0.4912, -0.1876,  0.4256],
        [ 0.2752,  0.5385, -0.7790,  ..., -0.4831, -0.1978,  0.4990]],
       grad_fn=<AddmmBackward>)
tensor(24.6228, grad_fn=<AddBackward0>)
tensor([[ 0.3230,  0.4168, -0.4924,  ..., -0.1522, -0.1923,  0.4357],
        [ 0.2866,  0.3971, -0.6329,  ..., -0.4144, -0.2882,  0.5531],
        [ 0.2752,  0.5385, -0.7790,  ..., -0.4831, -0.1978,  0.4990],
        ...,
        [ 0.3048,  0.4844, -0.5824,  ..., -0.3201, -0.1847,  0.4586],
        [ 0.3162,  0.4974, -0.5865,  ..., -0.3050, -0.1912,  0.4770],
        [ 0.2005,  0.5237, -0.8040,  ..., -0.5652, -0.1088,  0.4246]],
       grad_fn=<AddmmBackward>)
tensor(24.6228, grad_fn=<AddBackward0>)

In [ ]:
for i in range(len(movies['popularity'])): 
    movies['popularity'][i] = movies['popularity'][i]/10

In [ ]:
movies['popularity']

In [ ]:
import torch
import torch.nn as nn
import torch.nn.functional as F

class Net(nn.Module):

    def __init__(self):
        super(Net, self).__init__()
        # 1 input image channel, 6 output channels, 5x5 square convolution
        # kernel
        #self.conv1 = nn.Conv2d(1, 6, 5)
        #self.conv2 = nn.Conv2d(6, 16, 5)
        # an affine operation: y = Wx + b
        #self.fc1 = nn.Linear(16 * 5 * 5, 120)  # 5*5 from image dimension
        self.fc1 = nn.Linear(20, 15)
        self.fc2 = nn.Linear(15, 10)
        #self.fc2 = nn.Linear(16, )
        #self.fc3 = nn.Linear(84, 10)

    def forward(self, x):
        # Max pooling over a (2, 2) window
        #x = F.max_pool2d(F.relu(self.conv1(x)), (2, 2))
        # If the size is a square, you can specify with a single number
        #x = F.max_pool2d(F.relu(self.conv2(x)), 2)
        #x = x.view(-1, self.num_flat_features(x))
        #x = F.relu(self.fc1(x))
        #x = F.relu(self.fc2(x))
        #x = self.fc3(x)
        x = F.relu(self.fc1(x))
        x = F.relu(self.fc2(x))
        return x

    #def num_flat_features(self, x):
    #    size = x.size()[1:]  # all dimensions except the batch dimension
    #    num_features = 1
    #    for s in size:
    #        num_features *= s
    #    return num_features

net = Net()
print(net)

In [ ]:
train_dataloader = DataLoader(my_dataset, batch_size=256, shuffle=True)
model1 = ResNet34()
nlpModel = tf.keras.models.load_model('savedNlpModel')
finalTrainingData = []
for i, (test, train) in enumerate(train_dataloader):
    genre1 = model1(train)
    genre2 = nlpModel(train)
    finalTrainingData.append(genre1 + genre2)

finalTrainingData = np.array(finalTrainingData)

In [ ]:
from torch.utils.data import TensorDataset
from torch.utils.data import DataLoader

tensor_x = torch.Tensor(finalTrainingData) # transform to torch tensor
tensor_y = torch.Tensor(movies['popularity'])
my_dataset = TensorDataset(tensor_x,tensor_y) # create your dataset

In [ ]:
def main():
    n_epochs = 10 #config["num_epochs"]
    model = Net() #
    criterion = torch.nn.MSELoss() #what is your loss function
    optimizer = torch.optim.SGD(model.parameters(), lr=0.001) #temp
    train_dataset = loadImages()
    train_dataloader = DataLoader(my_dataset, batch_size=256, shuffle=True)
    #val_loader = #how will you get your dataset
    #val_loader = #how will you use pytorch's function to build a dataloader
    for epoch in range(n_epochs):
            train(train_dataloader, model, criterion, optimizer, epoch)
     
         #TODO: make your loop which trains and validates. Use the train() func

         #TODO: Save your checkpoint

main()

In [ ]:
for value in range(len(epoch)):
    net(model)

In [ ]:
def resNetOutput():
    for image in images: 
        genre = model(image)