In [19]:
import numpy as np
import pandas as pd
import sklearn
import keras
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences

In [2]:
movies = pd.read_csv('archive/movies_metadata.csv')

/Users/harshikajalan/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
movies = movies.filter(['original_title', 'id', 'imdb_id','vote_average'])

In [4]:
movies["reviews"] = [[] for _ in range(len(movies))]
movies.head()

                original_title     id    imdb_id  vote_average reviews
0                    Toy Story    862  tt0114709           7.7      []
1                      Jumanji   8844  tt0113497           6.9      []
2             Grumpier Old Men  15602  tt0113228           6.5      []
3            Waiting to Exhale  31357  tt0114885           6.1      []
4  Father of the Bride Part II  11862  tt0113041           5.7      []

In [5]:
import json
import os
import re
import requests

REVIEW_PATTERN = 'https://api.themoviedb.org/3/movie/{movie_id}/reviews?api_key={key}'
KEY = '6f2ceb0e0b459afe90f6e854fcd410eb'
            
def _get_json(url):
    r = requests.get(url)
    return r.json()


def get_tmdb_reviews():
    """ request reviews with 'id' from TMDB and append them to the reviews column """
    k=0
    for index, row in movies.iterrows():
        id = row['id']
        r = _get_json(REVIEW_PATTERN.format(key=KEY,movie_id=id))
        
        if not r:
            print("request cannot be located")
            continue
        
        n = r.get('total_results')
        
        reviews = []
        for i in range(n):
            k += 1
            result = r['results'][i]
            review = result.get('content')
            reviews.append(review)
            #rating = result.get('author_details').get('rating')
            
        movies.at[index, 'reviews'] = reviews
        if not reviews:
            movies.at[index, 'reviews'] = float("NaN")
        
        # SET LIMIT
        if index > 20:
            print(k)
            break

    return None

get_tmdb_reviews()
movies.head()

13

,original_title,id,imdb_id,vote_average,reviews
0,Toy Story,862,tt0114709,7.7,[This movie came out when I was three. Now I'm...
1,Jumanji,8844,tt0113497,6.9,"[Throw the dice and take a turn, Jumanji made ..."
2,Grumpier Old Men,15602,tt0113228,6.5,NaN
3,Waiting to Exhale,31357,tt0114885,6.1,NaN
4,Father of the Bride Part II,11862,tt0113041,5.7,NaN

In [11]:
import nltk
nltk.download('wordnet')
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer 
from nltk.tokenize import word_tokenize

import string

def tokenize(list):
    t = []
    
    for s in list:
        tokens = s.split()

        table = str.maketrans('', '', string.punctuation)
        tokens = [w.translate(table) for w in tokens]
        
        tokens = [word for word in tokens if word.isalpha()]
        
        stop_words = set(stopwords.words('english'))
        tokens = [w for w in tokens if not w in stop_words]
        
        tokens = [word for word in tokens if len(word) > 1]
        
        t.append(tokens)
    
    t = [word.lower() for sl in t for word in sl]
        
    lemmatizer = WordNetLemmatizer()
    for w in t:
        w = lemmatizer.lemmatize(w)
    
    # returns a flat list of strings
    return t

def clean_data():
    movies.dropna(subset = ["reviews"], inplace=True)
    for index, row in movies.iterrows():
        review = row['reviews']
        movies.at[index, 'reviews'] = tokenize(review)
        
        # SET LIMIT
        if index > 20:
            #print(k)
            break
            
    return None

clean_data()
movies.head(20)

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/harshikajalan/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/harshikajalan/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,original_title,id,imdb_id,vote_average,reviews
0,Toy Story,862,tt0114709,7.7,"[movie, came, three, im, twenty, seven, goddam..."
1,Jumanji,8844,tt0113497,6.9,"[throw, dice, take, turn, jumanji, made, criti..."
5,Heat,949,tt0113277,7.7,"[dont, live, live, among, remains, dead, peopl..."
7,Tom and Huck,45325,tt0112302,5.4,"[good, enough, doesnt, come, close, disneys, f..."
9,GoldenEye,710,tt0113189,6.6,"[really, solid, entry, series, brosnan, person..."
11,Dracula: Dead and Loving It,12110,tt0112896,5.7,"[probably, least, favourite, film, mel, brooks..."
14,Cutthroat Island,1408,tt0112760,5.7,"[bad, notoriously, condemned, still, clearly, ..."
15,Casino,524,tt0112641,7.8,"[sharon, stone, robert, de, niro, amazing, rob..."
22,Assassins,9691,tt0112401,6.0,[]
23,Powder,12665,tt0114168,6.3,[]
24,Leaving Las Vegas,451,tt0113627,7.1,[]
25,Othello,16420,tt0114057,7.0,[]
26,Now and Then,9263,tt0114011,6.6,[]
27,Persuasion,17015,tt0114117,7.4,[]
28,La Cité des Enfants Perdus,902,tt0112682,7.6,[]
29,摇啊摇，摇到外婆桥,37557,tt0115012,6.5,[]
30,Dangerous Minds,9909,tt0112792,6.4,[]
31,Twelve Monkeys,63,tt0114746,7.4,[]
32,"Guillaumet, les ailes du courage",78802,tt0114952,6.8,[]
33,Babe,9598,tt0112431,6.0,[]

In [177]:
movies["sentences"] = ["" for _ in range(len(movies))]
for index, row in movies.iterrows():
        words = row['reviews']
        movies.at[index, 'sentences'] = ' '.join(words)

In [206]:
#max_length=movies.apply(lambda row: row.apply(len).argmax(), axis=1)
def get_max_len():
    max_length = movies['reviews'].map(lambda x: len(x)).max()
    return max_length

In [179]:
from keras.preprocessing.text import Tokenizer

# fit a tokenizer
def create_tokenizer(list):
    tokenizer = Tokenizer()
    tokenizer.fit_on_texts(list)
    return tokenizer

In [180]:
def get_vocab_size(tokenizer):
    vocab_size = len(tokenizer.word_index) + 1
    return vocab_size

In [181]:
from keras.preprocessing.sequence import pad_sequences

def encode_text(tokenizer, lines, length):
    encoded = tokenizer.texts_to_sequences(lines)
    padded = pad_sequences(encoded, maxlen=length, padding='post')
    return padded

In [183]:
movies.head()

,original_title,id,imdb_id,vote_average,reviews,sentences
0,Toy Story,862,tt0114709,7.7,"[this, movie, came, three, now, im, twenty, se...",this movie came three now im twenty seven godd...
1,Jumanji,8844,tt0113497,6.9,"[throw, dice, take, turn, jumanji, made, criti...",throw dice take turn jumanji made critics gurn...
5,Heat,949,tt0113277,7.7,"[you, dont, live, live, among, remains, dead, ...",you dont live live among remains dead people h...
7,Tom and Huck,45325,tt0112302,5.4,"[good, enough, it, doesnt, come, close, disney...",good enough it doesnt come close disneys film ...
9,GoldenEye,710,tt0113189,6.6,"[really, solid, entry, series, brosnan, person...",really solid entry series brosnan personally f...

In [205]:
# TEST

test = movies['sentences'].tolist()
tokenizer = create_tokenizer(test)
print(get_vocab_size(tokenizer))

# encode data
test_encoded = encode_text(tokenizer, test, get_max_len())
print(test_encoded.shape)
from keras.utils.vis_utils import plot_model
print(test_encoded[6])

1023
[ 206   72  684  685    9  207  686   61   84  687  688    6  208   28
  209   26  208  689  690   23  691  210  692  693  211  103   15  100
   56  694  207  695  696  212    7   19  213  697  214  199    6  698
   18  104  699  187  215  101  700  215  701  702   74  703  704   45
  705  706   11  707  216  708  709  710   12   19  120  711   20   10
  217  712  713   41  714   38  186  715   53    2    1   90  218   64
  716  219  717  718  211   73   24   64  220   19  221  206  154   58
   27  222  105  719   29  720  217   35    5  223  103   50  224  225
  721   17  226    5  722  106   11  723  724  725  107   30  726  227
  228   76  727  728  729  108  730  731   51   31  229   32   62  732
  230   63  733  734  735    5  109  736  737  110  738  739   49   43
   35  109  740  741  231  232    5  742  743  111  233    3  744  176
    2   56  103   50  745  746  747  198  748    7  231   21  749  234
  235  184   21  117  750  751  752  753   53  201  754   81  755  224
  236  209  756   17  757    3  758  225  221  759  760  761  762  763
  764  237  112  765  766  109   21  197  113  232    4   22  767   32
  768  769    5  770   30  771   14  772  773  774   75  775  238  776
  132  777  104  778  779  780   34  159  135  781   48   29    1  114
  782  783  784  785   27   42  786  787  788  214  789  790  239  791
   80  792  156  106   30  793   29   95   10  175  794  795  796  240
  797  798  799  800  801  802  803  804   23  805  806    4    1  807
  808  809  114  810  811  812  241  234  235   52   31  813  814  242
  815   52  816  243  817  818  243  223  114  105  819   52  820  177
  821  822  147  165  823   51   31   69  824   28   76   40  825  826
  827   37   70  106   11  107   30  229   32  828  829  830  831  832
  244  133  833   60  163  134  245  164  834  835    1  122  136  836
  837  838   80  839  840  841  123  246  842  843  844  112  845  846
  847  848  849    1  850  851  852  153  853  854  855  242  856  857
   51   31  110  247  148  149  238  858  859   10  236  860  240  861
   50  862  248  249  863    1  864  218  865  866  867  868   91  869
  870  871  872  873  248  874  213    3    5    3  875  876   16  204
  877   16  878   11  226    5  879  880   61  881  882  108  188  227
  883  884  228   54  137   34  885  886   75    2  887  888  230  889
   32    4  139  890   28   46  891  892   47  893  894  895  896  897
  898  899  900  113   82    6  901  902   29   94   27  111  250  903
  195  111  904  905  906  907  233  241   52  908  909  125  910  911
   86  251   87  912  913  914  915   81  245    7  916    6  917  918
  919  252  920  921  922  923  924  250   49   49  925  180  926  155
  927  182  928  929  930  931  110   96  932  933  934  935  936    2
   15   94  145   92   50  937    5    7    1   20   29  938  247  939
  940  101  941  222  105  942  943  220    3  944   91  205  157   14
  945    3  946  947  237  948  181  251  949    6  252  185  950  951
  952  953   51   31  150   41  253  254  954   95   54  955  956  957
  958  959   11  960  104   28  961  962   93  963  212  964  965  966
  967  968   21  969  255  970  971  178  972  210   20  171  193    7
  973  974  975    4   44  976  977   63   28  174  255  978  979  980
   11  981   82   26   43   48  244  982  200   18  983  162  984  985
  986  216   17  115  107   30  987  988   11  989  169  990  991  992
  993  994  249   96   32  100  995  253  202  246   14   99  113   48
  996  997  128   21  998  999  144 1000 1001  254   41 1002 1003 1004
 1005  108    1 1006 1007 1008   18  219    5    3 1009 1010]

In [210]:
from keras.models import Model
from keras.layers import Input
from keras.layers import Dense
from keras.layers import Flatten
from keras.layers import Dropout
from keras.layers import Embedding
from keras.layers.convolutional import Conv1D
from keras.layers.convolutional import MaxPooling1D
from keras.layers.merge import concatenate

def custom_model(length, vocab_size):
    # channel 1
    inputs1 = Input(shape=(length,))
    embedding1 = Embedding(vocab_size, 100)(inputs1)
    conv1 = Conv1D(filters=32, kernel_size=4, activation='relu')(embedding1)
    drop1 = Dropout(0.5)(conv1)
    pool1 = MaxPooling1D(pool_size=2)(drop1)
    flat1 = Flatten()(pool1)
    
    # channel 2
    inputs2 = Input(shape=(length,))
    embedding2 = Embedding(vocab_size, 100)(inputs2)
    conv2 = Conv1D(filters=32, kernel_size=6, activation='relu')(embedding2)
    drop2 = Dropout(0.5)(conv2)
    pool2 = MaxPooling1D(pool_size=2)(drop2)
    flat2 = Flatten()(pool2)
    
    # channel 3
    inputs3 = Input(shape=(length,))
    embedding3 = Embedding(vocab_size, 100)(inputs3)
    conv3 = Conv1D(filters=32, kernel_size=8, activation='relu')(embedding3)
    drop3 = Dropout(0.5)(conv3)
    pool3 = MaxPooling1D(pool_size=2)(drop3)
    flat3 = Flatten()(pool3)
    
    # merge
    merged = concatenate([flat1, flat2, flat3])
    
    # interpretation
    dense1 = Dense(10, activation='relu')(merged)
    outputs = Dense(1, activation='sigmoid')(dense1)
    model = Model(inputs=[inputs1, inputs2, inputs3], outputs=outputs)
    
    # compile
    model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
    
    # summarize
    print(model.summary())
    return model

model = custom_model(get_max_len(), get_vocab_size(tokenizer))

Model: "model_3"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_10 (InputLayer)           (None, 712)          0
__________________________________________________________________________________________________
input_11 (InputLayer)           (None, 712)          0
__________________________________________________________________________________________________
input_12 (InputLayer)           (None, 712)          0
__________________________________________________________________________________________________
embedding_10 (Embedding)        (None, 712, 100)     102300      input_10[0][0]
__________________________________________________________________________________________________
embedding_11 (Embedding)        (None, 712, 100)     102300      input_11[0][0]
__________________________________________________________________________________________________
embedding_12 (Embedding)        (None, 712, 100)     102300      input_12[0][0]
__________________________________________________________________________________________________
conv1d_10 (Conv1D)              (None, 709, 32)      12832       embedding_10[0][0]
__________________________________________________________________________________________________
conv1d_11 (Conv1D)              (None, 707, 32)      19232       embedding_11[0][0]
__________________________________________________________________________________________________
conv1d_12 (Conv1D)              (None, 705, 32)      25632       embedding_12[0][0]
__________________________________________________________________________________________________
dropout_10 (Dropout)            (None, 709, 32)      0           conv1d_10[0][0]
__________________________________________________________________________________________________
dropout_11 (Dropout)            (None, 707, 32)      0           conv1d_11[0][0]
__________________________________________________________________________________________________
dropout_12 (Dropout)            (None, 705, 32)      0           conv1d_12[0][0]
__________________________________________________________________________________________________
max_pooling1d_10 (MaxPooling1D) (None, 354, 32)      0           dropout_10[0][0]
__________________________________________________________________________________________________
max_pooling1d_11 (MaxPooling1D) (None, 353, 32)      0           dropout_11[0][0]
__________________________________________________________________________________________________
max_pooling1d_12 (MaxPooling1D) (None, 352, 32)      0           dropout_12[0][0]
__________________________________________________________________________________________________
flatten_10 (Flatten)            (None, 11328)        0           max_pooling1d_10[0][0]
__________________________________________________________________________________________________
flatten_11 (Flatten)            (None, 11296)        0           max_pooling1d_11[0][0]
__________________________________________________________________________________________________
flatten_12 (Flatten)            (None, 11264)        0           max_pooling1d_12[0][0]
__________________________________________________________________________________________________
concatenate_3 (Concatenate)     (None, 33888)        0           flatten_10[0][0]
                                                                 flatten_11[0][0]
                                                                 flatten_12[0][0]
__________________________________________________________________________________________________
dense_5 (Dense)                 (None, 10)           338890      concatenate_3[0][0]
__________________________________________________________________________________________________
dense_6 (Dense)                 (None, 1)            11          dense_5[0][0]
==================================================================================================
Total params: 703,497
Trainable params: 703,497
Non-trainable params: 0
__________________________________________________________________________________________________
None